/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// RemotesNpmAPIService RemotesNpmAPI service
type RemotesNpmAPIService service

type RemotesNpmAPIRemotesNpmNpmCreateRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	pulpDomain string
	npmNpmRemote *NpmNpmRemote
	xTaskDiagnostics *[]string
}

func (r RemotesNpmAPIRemotesNpmNpmCreateRequest) NpmNpmRemote(npmNpmRemote NpmNpmRemote) RemotesNpmAPIRemotesNpmNpmCreateRequest {
	r.npmNpmRemote = &npmNpmRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmCreateRequest) Execute() (*NpmNpmRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmCreateExecute(r)
}

/*
RemotesNpmNpmCreate Create a npm remote

A ViewSet for NpmRemote.Similar to the NpmPackageViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RemotesNpmAPIRemotesNpmNpmCreateRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmCreate(ctx context.Context, pulpDomain string) RemotesNpmAPIRemotesNpmNpmCreateRequest {
	return RemotesNpmAPIRemotesNpmNpmCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return NpmNpmRemoteResponse
func (a *RemotesNpmAPIService) RemotesNpmNpmCreateExecute(r RemotesNpmAPIRemotesNpmNpmCreateRequest) (*NpmNpmRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NpmNpmRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/remotes/npm/npm/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.npmNpmRemote == nil {
		return localVarReturnValue, nil, reportError("npmNpmRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.npmNpmRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesNpmAPIRemotesNpmNpmDeleteRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	npmNpmRemoteHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmDeleteExecute(r)
}

/*
RemotesNpmNpmDelete Delete a npm remote

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmRemoteHref
 @return RemotesNpmAPIRemotesNpmNpmDeleteRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmDelete(ctx context.Context, npmNpmRemoteHref string) RemotesNpmAPIRemotesNpmNpmDeleteRequest {
	return RemotesNpmAPIRemotesNpmNpmDeleteRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmRemoteHref: npmNpmRemoteHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RemotesNpmAPIService) RemotesNpmNpmDeleteExecute(r RemotesNpmAPIRemotesNpmNpmDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_remote_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmRemoteHref, "npmNpmRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesNpmAPIRemotesNpmNpmListRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	pulpLastUpdated *time.Time
	pulpLastUpdatedGt *time.Time
	pulpLastUpdatedGte *time.Time
	pulpLastUpdatedIsnull *bool
	pulpLastUpdatedLt *time.Time
	pulpLastUpdatedLte *time.Time
	pulpLastUpdatedRange *[]time.Time
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) Limit(limit int32) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) Name(name string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameContains(nameContains string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameIcontains(nameIcontains string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameIexact(nameIexact string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameIn(nameIn []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameIregex(nameIregex string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameIstartswith(nameIstartswith string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameRegex(nameRegex string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) NameStartswith(nameStartswith string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) Offset(offset int32) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;url&#x60; - Url* &#x60;-url&#x60; - Url (descending)* &#x60;ca_cert&#x60; - Ca cert* &#x60;-ca_cert&#x60; - Ca cert (descending)* &#x60;client_cert&#x60; - Client cert* &#x60;-client_cert&#x60; - Client cert (descending)* &#x60;client_key&#x60; - Client key* &#x60;-client_key&#x60; - Client key (descending)* &#x60;tls_validation&#x60; - Tls validation* &#x60;-tls_validation&#x60; - Tls validation (descending)* &#x60;username&#x60; - Username* &#x60;-username&#x60; - Username (descending)* &#x60;password&#x60; - Password* &#x60;-password&#x60; - Password (descending)* &#x60;proxy_url&#x60; - Proxy url* &#x60;-proxy_url&#x60; - Proxy url (descending)* &#x60;proxy_username&#x60; - Proxy username* &#x60;-proxy_username&#x60; - Proxy username (descending)* &#x60;proxy_password&#x60; - Proxy password* &#x60;-proxy_password&#x60; - Proxy password (descending)* &#x60;download_concurrency&#x60; - Download concurrency* &#x60;-download_concurrency&#x60; - Download concurrency (descending)* &#x60;max_retries&#x60; - Max retries* &#x60;-max_retries&#x60; - Max retries (descending)* &#x60;policy&#x60; - Policy* &#x60;-policy&#x60; - Policy (descending)* &#x60;total_timeout&#x60; - Total timeout* &#x60;-total_timeout&#x60; - Total timeout (descending)* &#x60;connect_timeout&#x60; - Connect timeout* &#x60;-connect_timeout&#x60; - Connect timeout (descending)* &#x60;sock_connect_timeout&#x60; - Sock connect timeout* &#x60;-sock_connect_timeout&#x60; - Sock connect timeout (descending)* &#x60;sock_read_timeout&#x60; - Sock read timeout* &#x60;-sock_read_timeout&#x60; - Sock read timeout (descending)* &#x60;headers&#x60; - Headers* &#x60;-headers&#x60; - Headers (descending)* &#x60;rate_limit&#x60; - Rate limit* &#x60;-rate_limit&#x60; - Rate limit (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r RemotesNpmAPIRemotesNpmNpmListRequest) Ordering(ordering []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PrnIn(prnIn []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpHrefIn(pulpHrefIn []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpIdIn(pulpIdIn []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLabelSelect(pulpLabelSelect string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results where pulp_last_updated matches value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLastUpdated(pulpLastUpdated time.Time) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLastUpdated = &pulpLastUpdated
	return r
}

// Filter results where pulp_last_updated is greater than value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLastUpdatedGt(pulpLastUpdatedGt time.Time) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLastUpdatedGt = &pulpLastUpdatedGt
	return r
}

// Filter results where pulp_last_updated is greater than or equal to value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLastUpdatedGte(pulpLastUpdatedGte time.Time) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLastUpdatedGte = &pulpLastUpdatedGte
	return r
}

// Filter results where pulp_last_updated has a null value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLastUpdatedIsnull(pulpLastUpdatedIsnull bool) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLastUpdatedIsnull = &pulpLastUpdatedIsnull
	return r
}

// Filter results where pulp_last_updated is less than value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLastUpdatedLt(pulpLastUpdatedLt time.Time) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLastUpdatedLt = &pulpLastUpdatedLt
	return r
}

// Filter results where pulp_last_updated is less than or equal to value
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLastUpdatedLte(pulpLastUpdatedLte time.Time) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLastUpdatedLte = &pulpLastUpdatedLte
	return r
}

// Filter results where pulp_last_updated is between two comma separated values
func (r RemotesNpmAPIRemotesNpmNpmListRequest) PulpLastUpdatedRange(pulpLastUpdatedRange []time.Time) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.pulpLastUpdatedRange = &pulpLastUpdatedRange
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r RemotesNpmAPIRemotesNpmNpmListRequest) Q(q string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) Fields(fields []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesNpmAPIRemotesNpmNpmListRequest) ExcludeFields(excludeFields []string) RemotesNpmAPIRemotesNpmNpmListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmListRequest) Execute() (*PaginatednpmNpmRemoteResponseList, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmListExecute(r)
}

/*
RemotesNpmNpmList List npm remotes

A ViewSet for NpmRemote.Similar to the NpmPackageViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RemotesNpmAPIRemotesNpmNpmListRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmList(ctx context.Context, pulpDomain string) RemotesNpmAPIRemotesNpmNpmListRequest {
	return RemotesNpmAPIRemotesNpmNpmListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatednpmNpmRemoteResponseList
func (a *RemotesNpmAPIService) RemotesNpmNpmListExecute(r RemotesNpmAPIRemotesNpmNpmListRequest) (*PaginatednpmNpmRemoteResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatednpmNpmRemoteResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/remotes/npm/npm/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.pulpLastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated", r.pulpLastUpdated, "form", "")
	}
	if r.pulpLastUpdatedGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gt", r.pulpLastUpdatedGt, "form", "")
	}
	if r.pulpLastUpdatedGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gte", r.pulpLastUpdatedGte, "form", "")
	}
	if r.pulpLastUpdatedIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__isnull", r.pulpLastUpdatedIsnull, "form", "")
	}
	if r.pulpLastUpdatedLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lt", r.pulpLastUpdatedLt, "form", "")
	}
	if r.pulpLastUpdatedLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lte", r.pulpLastUpdatedLte, "form", "")
	}
	if r.pulpLastUpdatedRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__range", r.pulpLastUpdatedRange, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	npmNpmRemoteHref string
	patchednpmNpmRemote *PatchednpmNpmRemote
	xTaskDiagnostics *[]string
}

func (r RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest) PatchednpmNpmRemote(patchednpmNpmRemote PatchednpmNpmRemote) RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest {
	r.patchednpmNpmRemote = &patchednpmNpmRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest) Execute() (*NpmNpmRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmPartialUpdateExecute(r)
}

/*
RemotesNpmNpmPartialUpdate Update a npm remote

Update the entity partially and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmRemoteHref
 @return RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmPartialUpdate(ctx context.Context, npmNpmRemoteHref string) RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest {
	return RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmRemoteHref: npmNpmRemoteHref,
	}
}

// Execute executes the request
//  @return NpmNpmRemoteResponse
func (a *RemotesNpmAPIService) RemotesNpmNpmPartialUpdateExecute(r RemotesNpmAPIRemotesNpmNpmPartialUpdateRequest) (*NpmNpmRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NpmNpmRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_remote_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmRemoteHref, "npmNpmRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchednpmNpmRemote == nil {
		return localVarReturnValue, nil, reportError("patchednpmNpmRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchednpmNpmRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesNpmAPIRemotesNpmNpmReadRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	npmNpmRemoteHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RemotesNpmAPIRemotesNpmNpmReadRequest) Fields(fields []string) RemotesNpmAPIRemotesNpmNpmReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesNpmAPIRemotesNpmNpmReadRequest) ExcludeFields(excludeFields []string) RemotesNpmAPIRemotesNpmNpmReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmReadRequest) Execute() (*NpmNpmRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmReadExecute(r)
}

/*
RemotesNpmNpmRead Inspect a npm remote

A ViewSet for NpmRemote.Similar to the NpmPackageViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmRemoteHref
 @return RemotesNpmAPIRemotesNpmNpmReadRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmRead(ctx context.Context, npmNpmRemoteHref string) RemotesNpmAPIRemotesNpmNpmReadRequest {
	return RemotesNpmAPIRemotesNpmNpmReadRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmRemoteHref: npmNpmRemoteHref,
	}
}

// Execute executes the request
//  @return NpmNpmRemoteResponse
func (a *RemotesNpmAPIService) RemotesNpmNpmReadExecute(r RemotesNpmAPIRemotesNpmNpmReadRequest) (*NpmNpmRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NpmNpmRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_remote_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmRemoteHref, "npmNpmRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesNpmAPIRemotesNpmNpmSetLabelRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	npmNpmRemoteHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r RemotesNpmAPIRemotesNpmNpmSetLabelRequest) SetLabel(setLabel SetLabel) RemotesNpmAPIRemotesNpmNpmSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmSetLabelExecute(r)
}

/*
RemotesNpmNpmSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmRemoteHref
 @return RemotesNpmAPIRemotesNpmNpmSetLabelRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmSetLabel(ctx context.Context, npmNpmRemoteHref string) RemotesNpmAPIRemotesNpmNpmSetLabelRequest {
	return RemotesNpmAPIRemotesNpmNpmSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmRemoteHref: npmNpmRemoteHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *RemotesNpmAPIService) RemotesNpmNpmSetLabelExecute(r RemotesNpmAPIRemotesNpmNpmSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_remote_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_remote_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmRemoteHref, "npmNpmRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	npmNpmRemoteHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmUnsetLabelExecute(r)
}

/*
RemotesNpmNpmUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmRemoteHref
 @return RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmUnsetLabel(ctx context.Context, npmNpmRemoteHref string) RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest {
	return RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmRemoteHref: npmNpmRemoteHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *RemotesNpmAPIService) RemotesNpmNpmUnsetLabelExecute(r RemotesNpmAPIRemotesNpmNpmUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_remote_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_remote_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmRemoteHref, "npmNpmRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesNpmAPIRemotesNpmNpmUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesNpmAPIService
	npmNpmRemoteHref string
	npmNpmRemote *NpmNpmRemote
	xTaskDiagnostics *[]string
}

func (r RemotesNpmAPIRemotesNpmNpmUpdateRequest) NpmNpmRemote(npmNpmRemote NpmNpmRemote) RemotesNpmAPIRemotesNpmNpmUpdateRequest {
	r.npmNpmRemote = &npmNpmRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesNpmAPIRemotesNpmNpmUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesNpmAPIRemotesNpmNpmUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesNpmAPIRemotesNpmNpmUpdateRequest) Execute() (*NpmNpmRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesNpmNpmUpdateExecute(r)
}

/*
RemotesNpmNpmUpdate Update a npm remote

Update the entity and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmRemoteHref
 @return RemotesNpmAPIRemotesNpmNpmUpdateRequest
*/
func (a *RemotesNpmAPIService) RemotesNpmNpmUpdate(ctx context.Context, npmNpmRemoteHref string) RemotesNpmAPIRemotesNpmNpmUpdateRequest {
	return RemotesNpmAPIRemotesNpmNpmUpdateRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmRemoteHref: npmNpmRemoteHref,
	}
}

// Execute executes the request
//  @return NpmNpmRemoteResponse
func (a *RemotesNpmAPIService) RemotesNpmNpmUpdateExecute(r RemotesNpmAPIRemotesNpmNpmUpdateRequest) (*NpmNpmRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NpmNpmRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesNpmAPIService.RemotesNpmNpmUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_remote_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmRemoteHref, "npmNpmRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.npmNpmRemote == nil {
		return localVarReturnValue, nil, reportError("npmNpmRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.npmNpmRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
