/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// PublicationsHuggingFaceAPIService PublicationsHuggingFaceAPI service
type PublicationsHuggingFaceAPIService service

type PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest struct {
	ctx context.Context
	ApiService *PublicationsHuggingFaceAPIService
	pulpDomain string
	huggingFaceHuggingFacePublication *HuggingFaceHuggingFacePublication
	xTaskDiagnostics *[]string
}

func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest) HuggingFaceHuggingFacePublication(huggingFaceHuggingFacePublication HuggingFaceHuggingFacePublication) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest {
	r.huggingFaceHuggingFacePublication = &huggingFaceHuggingFacePublication
	return r
}

// List of profilers to use on tasks.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PublicationsHuggingFaceHuggingFaceCreateExecute(r)
}

/*
PublicationsHuggingFaceHuggingFaceCreate Create a hugging face publication

Trigger an asynchronous task to publish content

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest
*/
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceCreate(ctx context.Context, pulpDomain string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest {
	return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceCreateExecute(r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsHuggingFaceAPIService.PublicationsHuggingFaceHuggingFaceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/publications/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFacePublication == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFacePublication is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFacePublication
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest struct {
	ctx context.Context
	ApiService *PublicationsHuggingFaceAPIService
	huggingFaceHuggingFacePublicationHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.PublicationsHuggingFaceHuggingFaceDeleteExecute(r)
}

/*
PublicationsHuggingFaceHuggingFaceDelete Delete a hugging face publication

A ViewSet for HuggingFacePublication.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFacePublicationHref
 @return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest
*/
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceDelete(ctx context.Context, huggingFaceHuggingFacePublicationHref string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest {
	return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFacePublicationHref: huggingFaceHuggingFacePublicationHref,
	}
}

// Execute executes the request
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceDeleteExecute(r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsHuggingFaceAPIService.PublicationsHuggingFaceHuggingFaceDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_publication_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_publication_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFacePublicationHref, "huggingFaceHuggingFacePublicationHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest struct {
	ctx context.Context
	ApiService *PublicationsHuggingFaceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	checkpoint *bool
	content *string
	contentIn *[]string
	limit *int32
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpCreated *time.Time
	pulpCreatedGt *time.Time
	pulpCreatedGte *time.Time
	pulpCreatedIsnull *bool
	pulpCreatedLt *time.Time
	pulpCreatedLte *time.Time
	pulpCreatedRange *[]time.Time
	pulpHrefIn *[]string
	pulpIdIn *[]string
	q *string
	repository *string
	repositoryVersion *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where checkpoint matches value
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Checkpoint(checkpoint bool) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.checkpoint = &checkpoint
	return r
}

// Content Unit referenced by HREF/PRN
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Content(content string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.content = &content
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) ContentIn(contentIn []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.contentIn = &contentIn
	return r
}

// Number of results to return per page.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Limit(limit int32) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Offset(offset int32) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;complete&#x60; - Complete* &#x60;-complete&#x60; - Complete (descending)* &#x60;pass_through&#x60; - Pass through* &#x60;-pass_through&#x60; - Pass through (descending)* &#x60;checkpoint&#x60; - Checkpoint* &#x60;-checkpoint&#x60; - Checkpoint (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Ordering(ordering []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PrnIn(prnIn []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.prnIn = &prnIn
	return r
}

// Filter results where pulp_created matches value
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpCreated(pulpCreated time.Time) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpCreated = &pulpCreated
	return r
}

// Filter results where pulp_created is greater than value
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpCreatedGt(pulpCreatedGt time.Time) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpCreatedGt = &pulpCreatedGt
	return r
}

// Filter results where pulp_created is greater than or equal to value
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpCreatedGte(pulpCreatedGte time.Time) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpCreatedGte = &pulpCreatedGte
	return r
}

// Filter results where pulp_created has a null value
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpCreatedIsnull(pulpCreatedIsnull bool) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpCreatedIsnull = &pulpCreatedIsnull
	return r
}

// Filter results where pulp_created is less than value
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpCreatedLt(pulpCreatedLt time.Time) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpCreatedLt = &pulpCreatedLt
	return r
}

// Filter results where pulp_created is less than or equal to value
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpCreatedLte(pulpCreatedLte time.Time) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpCreatedLte = &pulpCreatedLte
	return r
}

// Filter results where pulp_created is between two comma separated values
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpCreatedRange(pulpCreatedRange []time.Time) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpCreatedRange = &pulpCreatedRange
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpHrefIn(pulpHrefIn []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) PulpIdIn(pulpIdIn []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Q(q string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.q = &q
	return r
}

// Repository referenced by HREF/PRN
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Repository(repository string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.repository = &repository
	return r
}

// Repository Version referenced by HREF/PRN
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) RepositoryVersion(repositoryVersion string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// A list of fields to include in the response.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Fields(fields []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) ExcludeFields(excludeFields []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) Execute() (*PaginatedhuggingFaceHuggingFacePublicationResponseList, *http.Response, error) {
	return r.ApiService.PublicationsHuggingFaceHuggingFaceListExecute(r)
}

/*
PublicationsHuggingFaceHuggingFaceList List hugging face publications

A ViewSet for HuggingFacePublication.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest
*/
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceList(ctx context.Context, pulpDomain string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest {
	return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedhuggingFaceHuggingFacePublicationResponseList
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceListExecute(r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceListRequest) (*PaginatedhuggingFaceHuggingFacePublicationResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedhuggingFaceHuggingFacePublicationResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsHuggingFaceAPIService.PublicationsHuggingFaceHuggingFaceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/publications/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.checkpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkpoint", r.checkpoint, "form", "")
	}
	if r.content != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content", r.content, "form", "")
	}
	if r.contentIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content__in", r.contentIn, "form", "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpCreated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created", r.pulpCreated, "form", "")
	}
	if r.pulpCreatedGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__gt", r.pulpCreatedGt, "form", "")
	}
	if r.pulpCreatedGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__gte", r.pulpCreatedGte, "form", "")
	}
	if r.pulpCreatedIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__isnull", r.pulpCreatedIsnull, "form", "")
	}
	if r.pulpCreatedLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__lt", r.pulpCreatedLt, "form", "")
	}
	if r.pulpCreatedLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__lte", r.pulpCreatedLte, "form", "")
	}
	if r.pulpCreatedRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_created__range", r.pulpCreatedRange, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository", r.repository, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest struct {
	ctx context.Context
	ApiService *PublicationsHuggingFaceAPIService
	huggingFaceHuggingFacePublicationHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest) Fields(fields []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest) ExcludeFields(excludeFields []string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest) Execute() (*HuggingFaceHuggingFacePublicationResponse, *http.Response, error) {
	return r.ApiService.PublicationsHuggingFaceHuggingFaceReadExecute(r)
}

/*
PublicationsHuggingFaceHuggingFaceRead Inspect a hugging face publication

A ViewSet for HuggingFacePublication.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFacePublicationHref
 @return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest
*/
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceRead(ctx context.Context, huggingFaceHuggingFacePublicationHref string) PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest {
	return PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFacePublicationHref: huggingFaceHuggingFacePublicationHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFacePublicationResponse
func (a *PublicationsHuggingFaceAPIService) PublicationsHuggingFaceHuggingFaceReadExecute(r PublicationsHuggingFaceAPIPublicationsHuggingFaceHuggingFaceReadRequest) (*HuggingFaceHuggingFacePublicationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFacePublicationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PublicationsHuggingFaceAPIService.PublicationsHuggingFaceHuggingFaceRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_publication_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_publication_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFacePublicationHref, "huggingFaceHuggingFacePublicationHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
