/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// ContentProvenanceAPIService ContentProvenanceAPI service
type ContentProvenanceAPIService service

type ContentProvenanceAPIContentPythonProvenanceCreateRequest struct {
	ctx context.Context
	ApiService *ContentProvenanceAPIService
	pulpDomain string
	package_ *string
	xTaskDiagnostics *[]string
	repository *string
	pulpLabels *map[string]string
	file *os.File
	upload *string
	fileUrl *string
	downloaderConfig *RemoteNetworkConfig
	verify *bool
}

// The package that the provenance is for.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) Package_(package_ string) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.package_ = &package_
	return r
}

// List of profilers to use on tasks.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A URI of a repository the new content unit should be associated with.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) Repository(repository string) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.repository = &repository
	return r
}

// A dictionary of arbitrary key/value pairs used to describe a specific Content instance.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) PulpLabels(pulpLabels map[string]string) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.pulpLabels = &pulpLabels
	return r
}

// An uploaded file that may be turned into the content unit.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) File(file *os.File) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.file = file
	return r
}

// An uncommitted upload that may be turned into the content unit.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) Upload(upload string) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.upload = &upload
	return r
}

// A url that Pulp can download and turn into the content unit.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) FileUrl(fileUrl string) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.fileUrl = &fileUrl
	return r
}

// Configuration for the download process (e.g., proxies, auth, timeouts). Only applicable when providing a &#39;file_url.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) DownloaderConfig(downloaderConfig RemoteNetworkConfig) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.downloaderConfig = &downloaderConfig
	return r
}

// Verify each attestation in the provenance.
func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) Verify(verify bool) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	r.verify = &verify
	return r
}

func (r ContentProvenanceAPIContentPythonProvenanceCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentPythonProvenanceCreateExecute(r)
}

/*
ContentPythonProvenanceCreate Create a package provenance

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentProvenanceAPIContentPythonProvenanceCreateRequest
*/
func (a *ContentProvenanceAPIService) ContentPythonProvenanceCreate(ctx context.Context, pulpDomain string) ContentProvenanceAPIContentPythonProvenanceCreateRequest {
	return ContentProvenanceAPIContentPythonProvenanceCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentProvenanceAPIService) ContentPythonProvenanceCreateExecute(r ContentProvenanceAPIContentPythonProvenanceCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentProvenanceAPIService.ContentPythonProvenanceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/python/provenance/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.package_ == nil {
		return localVarReturnValue, nil, reportError("package_ is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "repository", r.repository, "", "")
	}
	if r.pulpLabels != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "pulp_labels", r.pulpLabels, "", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.upload != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "upload", r.upload, "", "")
	}
	if r.fileUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_url", r.fileUrl, "", "")
	}
	if r.downloaderConfig != nil {
		paramJson, err := parameterToJson(*r.downloaderConfig)
		if err != nil {
			return localVarReturnValue, nil, err
		}
		localVarFormParams.Add("downloader_config", paramJson)
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "package", r.package_, "", "")
	if r.verify != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "verify", r.verify, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentProvenanceAPIContentPythonProvenanceListRequest struct {
	ctx context.Context
	ApiService *ContentProvenanceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	package_ *string
	packageIn *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	sha256 *string
	sha256In *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Limit(limit int32) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Offset(offset int32) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;provenance&#x60; - Provenance* &#x60;-provenance&#x60; - Provenance (descending)* &#x60;sha256&#x60; - Sha256* &#x60;-sha256&#x60; - Sha256 (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Ordering(ordering []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) OrphanedFor(orphanedFor float32) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Filter results where package matches value
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Package_(package_ string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.package_ = &package_
	return r
}

// Filter results where package is in a comma-separated list of values
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) PackageIn(packageIn []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.packageIn = &packageIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) PrnIn(prnIn []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) PulpHrefIn(pulpHrefIn []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) PulpIdIn(pulpIdIn []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) PulpLabelSelect(pulpLabelSelect string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Q(q string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) RepositoryVersion(repositoryVersion string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where sha256 matches value
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Sha256(sha256 string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.sha256 = &sha256
	return r
}

// Filter results where sha256 is in a comma-separated list of values
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Sha256In(sha256In []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.sha256In = &sha256In
	return r
}

// A list of fields to include in the response.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Fields(fields []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentProvenanceAPIContentPythonProvenanceListRequest) ExcludeFields(excludeFields []string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentProvenanceAPIContentPythonProvenanceListRequest) Execute() (*PaginatedpythonPackageProvenanceResponseList, *http.Response, error) {
	return r.ApiService.ContentPythonProvenanceListExecute(r)
}

/*
ContentPythonProvenanceList List package provenances

PackageProvenance represents a PEP 740 provenance object for a Python package.Use ?minimal=true to get a human readable representation of the provenance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentProvenanceAPIContentPythonProvenanceListRequest
*/
func (a *ContentProvenanceAPIService) ContentPythonProvenanceList(ctx context.Context, pulpDomain string) ContentProvenanceAPIContentPythonProvenanceListRequest {
	return ContentProvenanceAPIContentPythonProvenanceListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedpythonPackageProvenanceResponseList
func (a *ContentProvenanceAPIService) ContentPythonProvenanceListExecute(r ContentProvenanceAPIContentPythonProvenanceListRequest) (*PaginatedpythonPackageProvenanceResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedpythonPackageProvenanceResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentProvenanceAPIService.ContentPythonProvenanceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/python/provenance/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.package_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "package", r.package_, "form", "")
	}
	if r.packageIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "package__in", r.packageIn, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.sha256 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256", r.sha256, "form", "")
	}
	if r.sha256In != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sha256__in", r.sha256In, "form", "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentProvenanceAPIContentPythonProvenanceReadRequest struct {
	ctx context.Context
	ApiService *ContentProvenanceAPIService
	pythonPackageProvenanceHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentProvenanceAPIContentPythonProvenanceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentProvenanceAPIContentPythonProvenanceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentProvenanceAPIContentPythonProvenanceReadRequest) Fields(fields []string) ContentProvenanceAPIContentPythonProvenanceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentProvenanceAPIContentPythonProvenanceReadRequest) ExcludeFields(excludeFields []string) ContentProvenanceAPIContentPythonProvenanceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentProvenanceAPIContentPythonProvenanceReadRequest) Execute() (*PythonPackageProvenanceResponse, *http.Response, error) {
	return r.ApiService.ContentPythonProvenanceReadExecute(r)
}

/*
ContentPythonProvenanceRead Inspect a package provenance

PackageProvenance represents a PEP 740 provenance object for a Python package.Use ?minimal=true to get a human readable representation of the provenance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pythonPackageProvenanceHref
 @return ContentProvenanceAPIContentPythonProvenanceReadRequest
*/
func (a *ContentProvenanceAPIService) ContentPythonProvenanceRead(ctx context.Context, pythonPackageProvenanceHref string) ContentProvenanceAPIContentPythonProvenanceReadRequest {
	return ContentProvenanceAPIContentPythonProvenanceReadRequest{
		ApiService: a,
		ctx: ctx,
		pythonPackageProvenanceHref: pythonPackageProvenanceHref,
	}
}

// Execute executes the request
//  @return PythonPackageProvenanceResponse
func (a *ContentProvenanceAPIService) ContentPythonProvenanceReadExecute(r ContentProvenanceAPIContentPythonProvenanceReadRequest) (*PythonPackageProvenanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PythonPackageProvenanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentProvenanceAPIService.ContentPythonProvenanceRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{python_package_provenance_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"python_package_provenance_href"+"}", url.PathEscape(parameterValueToString(r.pythonPackageProvenanceHref, "pythonPackageProvenanceHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentProvenanceAPIContentPythonProvenanceSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentProvenanceAPIService
	pythonPackageProvenanceHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentProvenanceAPIContentPythonProvenanceSetLabelRequest) SetLabel(setLabel SetLabel) ContentProvenanceAPIContentPythonProvenanceSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentProvenanceAPIContentPythonProvenanceSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentProvenanceAPIContentPythonProvenanceSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentProvenanceAPIContentPythonProvenanceSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentPythonProvenanceSetLabelExecute(r)
}

/*
ContentPythonProvenanceSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pythonPackageProvenanceHref
 @return ContentProvenanceAPIContentPythonProvenanceSetLabelRequest
*/
func (a *ContentProvenanceAPIService) ContentPythonProvenanceSetLabel(ctx context.Context, pythonPackageProvenanceHref string) ContentProvenanceAPIContentPythonProvenanceSetLabelRequest {
	return ContentProvenanceAPIContentPythonProvenanceSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		pythonPackageProvenanceHref: pythonPackageProvenanceHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentProvenanceAPIService) ContentPythonProvenanceSetLabelExecute(r ContentProvenanceAPIContentPythonProvenanceSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentProvenanceAPIService.ContentPythonProvenanceSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{python_package_provenance_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"python_package_provenance_href"+"}", url.PathEscape(parameterValueToString(r.pythonPackageProvenanceHref, "pythonPackageProvenanceHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentProvenanceAPIService
	pythonPackageProvenanceHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentPythonProvenanceUnsetLabelExecute(r)
}

/*
ContentPythonProvenanceUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pythonPackageProvenanceHref
 @return ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest
*/
func (a *ContentProvenanceAPIService) ContentPythonProvenanceUnsetLabel(ctx context.Context, pythonPackageProvenanceHref string) ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest {
	return ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		pythonPackageProvenanceHref: pythonPackageProvenanceHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentProvenanceAPIService) ContentPythonProvenanceUnsetLabelExecute(r ContentProvenanceAPIContentPythonProvenanceUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentProvenanceAPIService.ContentPythonProvenanceUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{python_package_provenance_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"python_package_provenance_href"+"}", url.PathEscape(parameterValueToString(r.pythonPackageProvenanceHref, "pythonPackageProvenanceHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
