/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// RemotesHuggingFaceAPIService RemotesHuggingFaceAPI service
type RemotesHuggingFaceAPIService service

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	pulpDomain string
	huggingFaceHuggingFaceRemote *HuggingFaceHuggingFaceRemote
	xTaskDiagnostics *[]string
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest) HuggingFaceHuggingFaceRemote(huggingFaceHuggingFaceRemote HuggingFaceHuggingFaceRemote) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest {
	r.huggingFaceHuggingFaceRemote = &huggingFaceHuggingFaceRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest) Execute() (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFaceCreateExecute(r)
}

/*
RemotesHuggingFaceHuggingFaceCreate Create a hugging face remote

A ViewSet for HuggingFaceRemote.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceCreate(ctx context.Context, pulpDomain string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRemoteResponse
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceCreateExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceCreateRequest) (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFaceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/remotes/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFaceRemote == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFaceRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFaceRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	huggingFaceHuggingFaceRemoteHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFaceDeleteExecute(r)
}

/*
RemotesHuggingFaceHuggingFaceDelete Delete a hugging face remote

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRemoteHref
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceDelete(ctx context.Context, huggingFaceHuggingFaceRemoteHref string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRemoteHref: huggingFaceHuggingFaceRemoteHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceDeleteExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFaceDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_remote_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRemoteHref, "huggingFaceHuggingFaceRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	pulpLastUpdated *time.Time
	pulpLastUpdatedGt *time.Time
	pulpLastUpdatedGte *time.Time
	pulpLastUpdatedIsnull *bool
	pulpLastUpdatedLt *time.Time
	pulpLastUpdatedLte *time.Time
	pulpLastUpdatedRange *[]time.Time
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) Limit(limit int32) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) Name(name string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameContains(nameContains string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameIcontains(nameIcontains string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameIexact(nameIexact string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameIn(nameIn []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameIregex(nameIregex string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameIstartswith(nameIstartswith string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameRegex(nameRegex string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) NameStartswith(nameStartswith string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) Offset(offset int32) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;url&#x60; - Url* &#x60;-url&#x60; - Url (descending)* &#x60;ca_cert&#x60; - Ca cert* &#x60;-ca_cert&#x60; - Ca cert (descending)* &#x60;client_cert&#x60; - Client cert* &#x60;-client_cert&#x60; - Client cert (descending)* &#x60;client_key&#x60; - Client key* &#x60;-client_key&#x60; - Client key (descending)* &#x60;tls_validation&#x60; - Tls validation* &#x60;-tls_validation&#x60; - Tls validation (descending)* &#x60;username&#x60; - Username* &#x60;-username&#x60; - Username (descending)* &#x60;password&#x60; - Password* &#x60;-password&#x60; - Password (descending)* &#x60;proxy_url&#x60; - Proxy url* &#x60;-proxy_url&#x60; - Proxy url (descending)* &#x60;proxy_username&#x60; - Proxy username* &#x60;-proxy_username&#x60; - Proxy username (descending)* &#x60;proxy_password&#x60; - Proxy password* &#x60;-proxy_password&#x60; - Proxy password (descending)* &#x60;download_concurrency&#x60; - Download concurrency* &#x60;-download_concurrency&#x60; - Download concurrency (descending)* &#x60;max_retries&#x60; - Max retries* &#x60;-max_retries&#x60; - Max retries (descending)* &#x60;policy&#x60; - Policy* &#x60;-policy&#x60; - Policy (descending)* &#x60;total_timeout&#x60; - Total timeout* &#x60;-total_timeout&#x60; - Total timeout (descending)* &#x60;connect_timeout&#x60; - Connect timeout* &#x60;-connect_timeout&#x60; - Connect timeout (descending)* &#x60;sock_connect_timeout&#x60; - Sock connect timeout* &#x60;-sock_connect_timeout&#x60; - Sock connect timeout (descending)* &#x60;sock_read_timeout&#x60; - Sock read timeout* &#x60;-sock_read_timeout&#x60; - Sock read timeout (descending)* &#x60;headers&#x60; - Headers* &#x60;-headers&#x60; - Headers (descending)* &#x60;rate_limit&#x60; - Rate limit* &#x60;-rate_limit&#x60; - Rate limit (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) Ordering(ordering []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PrnIn(prnIn []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpHrefIn(pulpHrefIn []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpIdIn(pulpIdIn []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLabelSelect(pulpLabelSelect string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results where pulp_last_updated matches value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLastUpdated(pulpLastUpdated time.Time) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLastUpdated = &pulpLastUpdated
	return r
}

// Filter results where pulp_last_updated is greater than value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLastUpdatedGt(pulpLastUpdatedGt time.Time) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLastUpdatedGt = &pulpLastUpdatedGt
	return r
}

// Filter results where pulp_last_updated is greater than or equal to value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLastUpdatedGte(pulpLastUpdatedGte time.Time) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLastUpdatedGte = &pulpLastUpdatedGte
	return r
}

// Filter results where pulp_last_updated has a null value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLastUpdatedIsnull(pulpLastUpdatedIsnull bool) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLastUpdatedIsnull = &pulpLastUpdatedIsnull
	return r
}

// Filter results where pulp_last_updated is less than value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLastUpdatedLt(pulpLastUpdatedLt time.Time) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLastUpdatedLt = &pulpLastUpdatedLt
	return r
}

// Filter results where pulp_last_updated is less than or equal to value
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLastUpdatedLte(pulpLastUpdatedLte time.Time) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLastUpdatedLte = &pulpLastUpdatedLte
	return r
}

// Filter results where pulp_last_updated is between two comma separated values
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) PulpLastUpdatedRange(pulpLastUpdatedRange []time.Time) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.pulpLastUpdatedRange = &pulpLastUpdatedRange
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) Q(q string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) Fields(fields []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) ExcludeFields(excludeFields []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) Execute() (*PaginatedhuggingFaceHuggingFaceRemoteResponseList, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFaceListExecute(r)
}

/*
RemotesHuggingFaceHuggingFaceList List hugging face remotes

A ViewSet for HuggingFaceRemote.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceList(ctx context.Context, pulpDomain string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedhuggingFaceHuggingFaceRemoteResponseList
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceListExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceListRequest) (*PaginatedhuggingFaceHuggingFaceRemoteResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedhuggingFaceHuggingFaceRemoteResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFaceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/remotes/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.pulpLastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated", r.pulpLastUpdated, "form", "")
	}
	if r.pulpLastUpdatedGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gt", r.pulpLastUpdatedGt, "form", "")
	}
	if r.pulpLastUpdatedGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gte", r.pulpLastUpdatedGte, "form", "")
	}
	if r.pulpLastUpdatedIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__isnull", r.pulpLastUpdatedIsnull, "form", "")
	}
	if r.pulpLastUpdatedLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lt", r.pulpLastUpdatedLt, "form", "")
	}
	if r.pulpLastUpdatedLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lte", r.pulpLastUpdatedLte, "form", "")
	}
	if r.pulpLastUpdatedRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__range", r.pulpLastUpdatedRange, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	huggingFaceHuggingFaceRemoteHref string
	patchedhuggingFaceHuggingFaceRemote *PatchedhuggingFaceHuggingFaceRemote
	xTaskDiagnostics *[]string
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest) PatchedhuggingFaceHuggingFaceRemote(patchedhuggingFaceHuggingFaceRemote PatchedhuggingFaceHuggingFaceRemote) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest {
	r.patchedhuggingFaceHuggingFaceRemote = &patchedhuggingFaceHuggingFaceRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest) Execute() (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFacePartialUpdateExecute(r)
}

/*
RemotesHuggingFaceHuggingFacePartialUpdate Update a hugging face remote

Update the entity partially and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRemoteHref
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFacePartialUpdate(ctx context.Context, huggingFaceHuggingFaceRemoteHref string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRemoteHref: huggingFaceHuggingFaceRemoteHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRemoteResponse
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFacePartialUpdateExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFacePartialUpdateRequest) (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFacePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_remote_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRemoteHref, "huggingFaceHuggingFaceRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedhuggingFaceHuggingFaceRemote == nil {
		return localVarReturnValue, nil, reportError("patchedhuggingFaceHuggingFaceRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedhuggingFaceHuggingFaceRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	huggingFaceHuggingFaceRemoteHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest) Fields(fields []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest) ExcludeFields(excludeFields []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest) Execute() (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFaceReadExecute(r)
}

/*
RemotesHuggingFaceHuggingFaceRead Inspect a hugging face remote

A ViewSet for HuggingFaceRemote.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRemoteHref
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceRead(ctx context.Context, huggingFaceHuggingFaceRemoteHref string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRemoteHref: huggingFaceHuggingFaceRemoteHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRemoteResponse
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceReadExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceReadRequest) (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFaceRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_remote_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRemoteHref, "huggingFaceHuggingFaceRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	huggingFaceHuggingFaceRemoteHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest) SetLabel(setLabel SetLabel) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFaceSetLabelExecute(r)
}

/*
RemotesHuggingFaceHuggingFaceSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRemoteHref
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceSetLabel(ctx context.Context, huggingFaceHuggingFaceRemoteHref string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRemoteHref: huggingFaceHuggingFaceRemoteHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceSetLabelExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFaceSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_remote_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_remote_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRemoteHref, "huggingFaceHuggingFaceRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	huggingFaceHuggingFaceRemoteHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFaceUnsetLabelExecute(r)
}

/*
RemotesHuggingFaceHuggingFaceUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRemoteHref
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceUnsetLabel(ctx context.Context, huggingFaceHuggingFaceRemoteHref string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRemoteHref: huggingFaceHuggingFaceRemoteHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceUnsetLabelExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFaceUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_remote_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_remote_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRemoteHref, "huggingFaceHuggingFaceRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesHuggingFaceAPIService
	huggingFaceHuggingFaceRemoteHref string
	huggingFaceHuggingFaceRemote *HuggingFaceHuggingFaceRemote
	xTaskDiagnostics *[]string
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest) HuggingFaceHuggingFaceRemote(huggingFaceHuggingFaceRemote HuggingFaceHuggingFaceRemote) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest {
	r.huggingFaceHuggingFaceRemote = &huggingFaceHuggingFaceRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest) Execute() (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesHuggingFaceHuggingFaceUpdateExecute(r)
}

/*
RemotesHuggingFaceHuggingFaceUpdate Update a hugging face remote

Update the entity and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRemoteHref
 @return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest
*/
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceUpdate(ctx context.Context, huggingFaceHuggingFaceRemoteHref string) RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest {
	return RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRemoteHref: huggingFaceHuggingFaceRemoteHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRemoteResponse
func (a *RemotesHuggingFaceAPIService) RemotesHuggingFaceHuggingFaceUpdateExecute(r RemotesHuggingFaceAPIRemotesHuggingFaceHuggingFaceUpdateRequest) (*HuggingFaceHuggingFaceRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesHuggingFaceAPIService.RemotesHuggingFaceHuggingFaceUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_remote_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRemoteHref, "huggingFaceHuggingFaceRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFaceRemote == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFaceRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFaceRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
