/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DistributionsNpmAPIService DistributionsNpmAPI service
type DistributionsNpmAPIService service

type DistributionsNpmAPIDistributionsNpmNpmCreateRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	pulpDomain string
	npmNpmDistribution *NpmNpmDistribution
	xTaskDiagnostics *[]string
}

func (r DistributionsNpmAPIDistributionsNpmNpmCreateRequest) NpmNpmDistribution(npmNpmDistribution NpmNpmDistribution) DistributionsNpmAPIDistributionsNpmNpmCreateRequest {
	r.npmNpmDistribution = &npmNpmDistribution
	return r
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmCreateExecute(r)
}

/*
DistributionsNpmNpmCreate Create a npm distribution

Trigger an asynchronous create task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return DistributionsNpmAPIDistributionsNpmNpmCreateRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmCreate(ctx context.Context, pulpDomain string) DistributionsNpmAPIDistributionsNpmNpmCreateRequest {
	return DistributionsNpmAPIDistributionsNpmNpmCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *DistributionsNpmAPIService) DistributionsNpmNpmCreateExecute(r DistributionsNpmAPIDistributionsNpmNpmCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/distributions/npm/npm/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.npmNpmDistribution == nil {
		return localVarReturnValue, nil, reportError("npmNpmDistribution is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.npmNpmDistribution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsNpmAPIDistributionsNpmNpmDeleteRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	npmNpmDistributionHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmDeleteExecute(r)
}

/*
DistributionsNpmNpmDelete Delete a npm distribution

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmDistributionHref
 @return DistributionsNpmAPIDistributionsNpmNpmDeleteRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmDelete(ctx context.Context, npmNpmDistributionHref string) DistributionsNpmAPIDistributionsNpmNpmDeleteRequest {
	return DistributionsNpmAPIDistributionsNpmNpmDeleteRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmDistributionHref: npmNpmDistributionHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *DistributionsNpmAPIService) DistributionsNpmNpmDeleteExecute(r DistributionsNpmAPIDistributionsNpmNpmDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_distribution_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmDistributionHref, "npmNpmDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsNpmAPIDistributionsNpmNpmListRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	basePath *string
	basePathContains *string
	basePathIcontains *string
	basePathIn *[]string
	checkpoint *bool
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repository *string
	repositoryIn *[]string
	withContent *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where base_path matches value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) BasePath(basePath string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.basePath = &basePath
	return r
}

// Filter results where base_path contains value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) BasePathContains(basePathContains string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.basePathContains = &basePathContains
	return r
}

// Filter results where base_path contains value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) BasePathIcontains(basePathIcontains string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.basePathIcontains = &basePathIcontains
	return r
}

// Filter results where base_path is in a comma-separated list of values
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) BasePathIn(basePathIn []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.basePathIn = &basePathIn
	return r
}

// Filter results where checkpoint matches value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Checkpoint(checkpoint bool) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.checkpoint = &checkpoint
	return r
}

// Number of results to return per page.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Limit(limit int32) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Name(name string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameContains(nameContains string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameIcontains(nameIcontains string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameIexact(nameIexact string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameIn(nameIn []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameIregex(nameIregex string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameIstartswith(nameIstartswith string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameRegex(nameRegex string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) NameStartswith(nameStartswith string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Offset(offset int32) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;base_path&#x60; - Base path* &#x60;-base_path&#x60; - Base path (descending)* &#x60;hidden&#x60; - Hidden* &#x60;-hidden&#x60; - Hidden (descending)* &#x60;checkpoint&#x60; - Checkpoint* &#x60;-checkpoint&#x60; - Checkpoint (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Ordering(ordering []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) PrnIn(prnIn []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) PulpHrefIn(pulpHrefIn []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) PulpIdIn(pulpIdIn []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) PulpLabelSelect(pulpLabelSelect string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Q(q string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.q = &q
	return r
}

// Filter results where repository matches value
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Repository(repository string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.repository = &repository
	return r
}

// Filter results where repository is in a comma-separated list of values
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) RepositoryIn(repositoryIn []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.repositoryIn = &repositoryIn
	return r
}

// Filter distributions based on the content served by them
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) WithContent(withContent string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.withContent = &withContent
	return r
}

// A list of fields to include in the response.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Fields(fields []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) ExcludeFields(excludeFields []string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmListRequest) Execute() (*PaginatednpmNpmDistributionResponseList, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmListExecute(r)
}

/*
DistributionsNpmNpmList List npm distributions

ViewSet for NPM Distributions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return DistributionsNpmAPIDistributionsNpmNpmListRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmList(ctx context.Context, pulpDomain string) DistributionsNpmAPIDistributionsNpmNpmListRequest {
	return DistributionsNpmAPIDistributionsNpmNpmListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatednpmNpmDistributionResponseList
func (a *DistributionsNpmAPIService) DistributionsNpmNpmListExecute(r DistributionsNpmAPIDistributionsNpmNpmListRequest) (*PaginatednpmNpmDistributionResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatednpmNpmDistributionResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/distributions/npm/npm/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.basePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path", r.basePath, "form", "")
	}
	if r.basePathContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path__contains", r.basePathContains, "form", "")
	}
	if r.basePathIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path__icontains", r.basePathIcontains, "form", "")
	}
	if r.basePathIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path__in", r.basePathIn, "form", "csv")
	}
	if r.checkpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkpoint", r.checkpoint, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository", r.repository, "form", "")
	}
	if r.repositoryIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository__in", r.repositoryIn, "form", "csv")
	}
	if r.withContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_content", r.withContent, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	npmNpmDistributionHref string
	patchednpmNpmDistribution *PatchednpmNpmDistribution
	xTaskDiagnostics *[]string
}

func (r DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest) PatchednpmNpmDistribution(patchednpmNpmDistribution PatchednpmNpmDistribution) DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest {
	r.patchednpmNpmDistribution = &patchednpmNpmDistribution
	return r
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest) Execute() (*NpmNpmDistributionResponse, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmPartialUpdateExecute(r)
}

/*
DistributionsNpmNpmPartialUpdate Update a npm distribution

Update the entity partially and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmDistributionHref
 @return DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmPartialUpdate(ctx context.Context, npmNpmDistributionHref string) DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest {
	return DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmDistributionHref: npmNpmDistributionHref,
	}
}

// Execute executes the request
//  @return NpmNpmDistributionResponse
func (a *DistributionsNpmAPIService) DistributionsNpmNpmPartialUpdateExecute(r DistributionsNpmAPIDistributionsNpmNpmPartialUpdateRequest) (*NpmNpmDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NpmNpmDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_distribution_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmDistributionHref, "npmNpmDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchednpmNpmDistribution == nil {
		return localVarReturnValue, nil, reportError("patchednpmNpmDistribution is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchednpmNpmDistribution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsNpmAPIDistributionsNpmNpmReadRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	npmNpmDistributionHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r DistributionsNpmAPIDistributionsNpmNpmReadRequest) Fields(fields []string) DistributionsNpmAPIDistributionsNpmNpmReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r DistributionsNpmAPIDistributionsNpmNpmReadRequest) ExcludeFields(excludeFields []string) DistributionsNpmAPIDistributionsNpmNpmReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmReadRequest) Execute() (*NpmNpmDistributionResponse, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmReadExecute(r)
}

/*
DistributionsNpmNpmRead Inspect a npm distribution

ViewSet for NPM Distributions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmDistributionHref
 @return DistributionsNpmAPIDistributionsNpmNpmReadRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmRead(ctx context.Context, npmNpmDistributionHref string) DistributionsNpmAPIDistributionsNpmNpmReadRequest {
	return DistributionsNpmAPIDistributionsNpmNpmReadRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmDistributionHref: npmNpmDistributionHref,
	}
}

// Execute executes the request
//  @return NpmNpmDistributionResponse
func (a *DistributionsNpmAPIService) DistributionsNpmNpmReadExecute(r DistributionsNpmAPIDistributionsNpmNpmReadRequest) (*NpmNpmDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NpmNpmDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_distribution_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmDistributionHref, "npmNpmDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	npmNpmDistributionHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest) SetLabel(setLabel SetLabel) DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmSetLabelExecute(r)
}

/*
DistributionsNpmNpmSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmDistributionHref
 @return DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmSetLabel(ctx context.Context, npmNpmDistributionHref string) DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest {
	return DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmDistributionHref: npmNpmDistributionHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *DistributionsNpmAPIService) DistributionsNpmNpmSetLabelExecute(r DistributionsNpmAPIDistributionsNpmNpmSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_distribution_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_distribution_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmDistributionHref, "npmNpmDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	npmNpmDistributionHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmUnsetLabelExecute(r)
}

/*
DistributionsNpmNpmUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmDistributionHref
 @return DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmUnsetLabel(ctx context.Context, npmNpmDistributionHref string) DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest {
	return DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmDistributionHref: npmNpmDistributionHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *DistributionsNpmAPIService) DistributionsNpmNpmUnsetLabelExecute(r DistributionsNpmAPIDistributionsNpmNpmUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_distribution_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_distribution_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmDistributionHref, "npmNpmDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsNpmAPIDistributionsNpmNpmUpdateRequest struct {
	ctx context.Context
	ApiService *DistributionsNpmAPIService
	npmNpmDistributionHref string
	npmNpmDistribution *NpmNpmDistribution
	xTaskDiagnostics *[]string
}

func (r DistributionsNpmAPIDistributionsNpmNpmUpdateRequest) NpmNpmDistribution(npmNpmDistribution NpmNpmDistribution) DistributionsNpmAPIDistributionsNpmNpmUpdateRequest {
	r.npmNpmDistribution = &npmNpmDistribution
	return r
}

// List of profilers to use on tasks.
func (r DistributionsNpmAPIDistributionsNpmNpmUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsNpmAPIDistributionsNpmNpmUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsNpmAPIDistributionsNpmNpmUpdateRequest) Execute() (*NpmNpmDistributionResponse, *http.Response, error) {
	return r.ApiService.DistributionsNpmNpmUpdateExecute(r)
}

/*
DistributionsNpmNpmUpdate Update a npm distribution

Update the entity and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param npmNpmDistributionHref
 @return DistributionsNpmAPIDistributionsNpmNpmUpdateRequest
*/
func (a *DistributionsNpmAPIService) DistributionsNpmNpmUpdate(ctx context.Context, npmNpmDistributionHref string) DistributionsNpmAPIDistributionsNpmNpmUpdateRequest {
	return DistributionsNpmAPIDistributionsNpmNpmUpdateRequest{
		ApiService: a,
		ctx: ctx,
		npmNpmDistributionHref: npmNpmDistributionHref,
	}
}

// Execute executes the request
//  @return NpmNpmDistributionResponse
func (a *DistributionsNpmAPIService) DistributionsNpmNpmUpdateExecute(r DistributionsNpmAPIDistributionsNpmNpmUpdateRequest) (*NpmNpmDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NpmNpmDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsNpmAPIService.DistributionsNpmNpmUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{npm_npm_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"npm_npm_distribution_href"+"}", url.PathEscape(parameterValueToString(r.npmNpmDistributionHref, "npmNpmDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.npmNpmDistribution == nil {
		return localVarReturnValue, nil, reportError("npmNpmDistribution is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.npmNpmDistribution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
