/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ApiCreateDomainAPIService ApiCreateDomainAPI service
type ApiCreateDomainAPIService service

type ApiCreateDomainAPIApiPulpCreateDomainPostRequest struct {
	ctx context.Context
	ApiService *ApiCreateDomainAPIService
	domain *Domain
	xTaskDiagnostics *[]string
}

func (r ApiCreateDomainAPIApiPulpCreateDomainPostRequest) Domain(domain Domain) ApiCreateDomainAPIApiPulpCreateDomainPostRequest {
	r.domain = &domain
	return r
}

// List of profilers to use on tasks.
func (r ApiCreateDomainAPIApiPulpCreateDomainPostRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiCreateDomainAPIApiPulpCreateDomainPostRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ApiCreateDomainAPIApiPulpCreateDomainPostRequest) Execute() (*DomainResponse, *http.Response, error) {
	return r.ApiService.ApiPulpCreateDomainPostExecute(r)
}

/*
ApiPulpCreateDomainPost Create domain

Create a new domain for from S3 template domain, self-service path

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDomainAPIApiPulpCreateDomainPostRequest
*/
func (a *ApiCreateDomainAPIService) ApiPulpCreateDomainPost(ctx context.Context) ApiCreateDomainAPIApiPulpCreateDomainPostRequest {
	return ApiCreateDomainAPIApiPulpCreateDomainPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DomainResponse
func (a *ApiCreateDomainAPIService) ApiPulpCreateDomainPostExecute(r ApiCreateDomainAPIApiPulpCreateDomainPostRequest) (*DomainResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DomainResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiCreateDomainAPIService.ApiPulpCreateDomainPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/create-domain/"
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.domain == nil {
		return localVarReturnValue, nil, reportError("domain is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.domain
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
