/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// RepositoriesHuggingFaceAPIService RepositoriesHuggingFaceAPI service
type RepositoriesHuggingFaceAPIService service

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	pulpDomain string
	huggingFaceHuggingFaceRepository *HuggingFaceHuggingFaceRepository
	xTaskDiagnostics *[]string
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest) HuggingFaceHuggingFaceRepository(huggingFaceHuggingFaceRepository HuggingFaceHuggingFaceRepository) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest {
	r.huggingFaceHuggingFaceRepository = &huggingFaceHuggingFaceRepository
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest) Execute() (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceCreateExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceCreate Create a hugging face repository

A ViewSet for HuggingFaceRepository.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceCreate(ctx context.Context, pulpDomain string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRepositoryResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceCreateExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceCreateRequest) (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/repositories/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFaceRepository == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFaceRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFaceRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceDeleteExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceDelete Delete a hugging face repository

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceDelete(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceDeleteExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	latestWithContent *string
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	remote *string
	retainRepoVersions *int32
	retainRepoVersionsGt *int32
	retainRepoVersionsGte *int32
	retainRepoVersionsIsnull *bool
	retainRepoVersionsLt *int32
	retainRepoVersionsLte *int32
	retainRepoVersionsNe *int32
	retainRepoVersionsRange *[]int32
	withContent *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Content Unit referenced by HREF/PRN
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) LatestWithContent(latestWithContent string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.latestWithContent = &latestWithContent
	return r
}

// Number of results to return per page.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Limit(limit int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Name(name string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameContains(nameContains string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameIcontains(nameIcontains string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameIexact(nameIexact string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameIn(nameIn []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameIregex(nameIregex string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameIstartswith(nameIstartswith string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameRegex(nameRegex string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) NameStartswith(nameStartswith string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Offset(offset int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;description&#x60; - Description* &#x60;-description&#x60; - Description (descending)* &#x60;next_version&#x60; - Next version* &#x60;-next_version&#x60; - Next version (descending)* &#x60;retain_repo_versions&#x60; - Retain repo versions* &#x60;-retain_repo_versions&#x60; - Retain repo versions (descending)* &#x60;user_hidden&#x60; - User hidden* &#x60;-user_hidden&#x60; - User hidden (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Ordering(ordering []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) PrnIn(prnIn []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) PulpHrefIn(pulpHrefIn []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) PulpIdIn(pulpIdIn []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) PulpLabelSelect(pulpLabelSelect string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Q(q string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.q = &q
	return r
}

// Foreign Key referenced by HREF
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Remote(remote string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.remote = &remote
	return r
}

// Filter results where retain_repo_versions matches value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersions(retainRepoVersions int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersions = &retainRepoVersions
	return r
}

// Filter results where retain_repo_versions is greater than value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersionsGt(retainRepoVersionsGt int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersionsGt = &retainRepoVersionsGt
	return r
}

// Filter results where retain_repo_versions is greater than or equal to value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersionsGte(retainRepoVersionsGte int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersionsGte = &retainRepoVersionsGte
	return r
}

// Filter results where retain_repo_versions has a null value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersionsIsnull(retainRepoVersionsIsnull bool) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersionsIsnull = &retainRepoVersionsIsnull
	return r
}

// Filter results where retain_repo_versions is less than value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersionsLt(retainRepoVersionsLt int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersionsLt = &retainRepoVersionsLt
	return r
}

// Filter results where retain_repo_versions is less than or equal to value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersionsLte(retainRepoVersionsLte int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersionsLte = &retainRepoVersionsLte
	return r
}

// Filter results where retain_repo_versions not equal to value
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersionsNe(retainRepoVersionsNe int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersionsNe = &retainRepoVersionsNe
	return r
}

// Filter results where retain_repo_versions is between two comma separated values
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) RetainRepoVersionsRange(retainRepoVersionsRange []int32) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.retainRepoVersionsRange = &retainRepoVersionsRange
	return r
}

// Content Unit referenced by HREF/PRN
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) WithContent(withContent string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.withContent = &withContent
	return r
}

// A list of fields to include in the response.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Fields(fields []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) ExcludeFields(excludeFields []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) Execute() (*PaginatedhuggingFaceHuggingFaceRepositoryResponseList, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceListExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceList List hugging face repositorys

A ViewSet for HuggingFaceRepository.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceList(ctx context.Context, pulpDomain string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedhuggingFaceHuggingFaceRepositoryResponseList
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceListExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceListRequest) (*PaginatedhuggingFaceHuggingFaceRepositoryResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedhuggingFaceHuggingFaceRepositoryResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/repositories/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.latestWithContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latest_with_content", r.latestWithContent, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.remote != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote", r.remote, "form", "")
	}
	if r.retainRepoVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions", r.retainRepoVersions, "form", "")
	}
	if r.retainRepoVersionsGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gt", r.retainRepoVersionsGt, "form", "")
	}
	if r.retainRepoVersionsGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gte", r.retainRepoVersionsGte, "form", "")
	}
	if r.retainRepoVersionsIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__isnull", r.retainRepoVersionsIsnull, "form", "")
	}
	if r.retainRepoVersionsLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lt", r.retainRepoVersionsLt, "form", "")
	}
	if r.retainRepoVersionsLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lte", r.retainRepoVersionsLte, "form", "")
	}
	if r.retainRepoVersionsNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__ne", r.retainRepoVersionsNe, "form", "")
	}
	if r.retainRepoVersionsRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__range", r.retainRepoVersionsRange, "form", "csv")
	}
	if r.withContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_content", r.withContent, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	repositoryAddRemoveContent *RepositoryAddRemoveContent
	xTaskDiagnostics *[]string
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest) RepositoryAddRemoveContent(repositoryAddRemoveContent RepositoryAddRemoveContent) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest {
	r.repositoryAddRemoveContent = &repositoryAddRemoveContent
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceModifyExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceModify Modify Repository Content

Trigger an asynchronous task to create a new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceModify(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceModifyExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceModifyRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceModify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}modify/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repositoryAddRemoveContent == nil {
		return localVarReturnValue, nil, reportError("repositoryAddRemoveContent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.repositoryAddRemoveContent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	patchedhuggingFaceHuggingFaceRepository *PatchedhuggingFaceHuggingFaceRepository
	xTaskDiagnostics *[]string
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest) PatchedhuggingFaceHuggingFaceRepository(patchedhuggingFaceHuggingFaceRepository PatchedhuggingFaceHuggingFaceRepository) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest {
	r.patchedhuggingFaceHuggingFaceRepository = &patchedhuggingFaceHuggingFaceRepository
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest) Execute() (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFacePartialUpdateExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFacePartialUpdate Update a hugging face repository

Update the entity partially and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFacePartialUpdate(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRepositoryResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFacePartialUpdateExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFacePartialUpdateRequest) (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFacePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedhuggingFaceHuggingFaceRepository == nil {
		return localVarReturnValue, nil, reportError("patchedhuggingFaceHuggingFaceRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedhuggingFaceHuggingFaceRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest) Fields(fields []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest) ExcludeFields(excludeFields []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest) Execute() (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceReadExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceRead Inspect a hugging face repository

A ViewSet for HuggingFaceRepository.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceRead(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRepositoryResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceReadExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceReadRequest) (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest) SetLabel(setLabel SetLabel) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceSetLabelExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceSetLabel(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceSetLabelExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	repositorySyncURL *RepositorySyncURL
	xTaskDiagnostics *[]string
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest) RepositorySyncURL(repositorySyncURL RepositorySyncURL) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest {
	r.repositorySyncURL = &repositorySyncURL
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceSyncExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceSync Sync from remote

Trigger an asynchronous task to sync content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceSync(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceSyncExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceSyncRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}sync/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repositorySyncURL == nil {
		return localVarReturnValue, nil, reportError("repositorySyncURL is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.repositorySyncURL
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceUnsetLabelExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceUnsetLabel(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceUnsetLabelExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesHuggingFaceAPIService
	huggingFaceHuggingFaceRepositoryHref string
	huggingFaceHuggingFaceRepository *HuggingFaceHuggingFaceRepository
	xTaskDiagnostics *[]string
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest) HuggingFaceHuggingFaceRepository(huggingFaceHuggingFaceRepository HuggingFaceHuggingFaceRepository) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest {
	r.huggingFaceHuggingFaceRepository = &huggingFaceHuggingFaceRepository
	return r
}

// List of profilers to use on tasks.
func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest) Execute() (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesHuggingFaceHuggingFaceUpdateExecute(r)
}

/*
RepositoriesHuggingFaceHuggingFaceUpdate Update a hugging face repository

Update the entity and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceRepositoryHref
 @return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest
*/
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceUpdate(ctx context.Context, huggingFaceHuggingFaceRepositoryHref string) RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest {
	return RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceRepositoryHref: huggingFaceHuggingFaceRepositoryHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceRepositoryResponse
func (a *RepositoriesHuggingFaceAPIService) RepositoriesHuggingFaceHuggingFaceUpdateExecute(r RepositoriesHuggingFaceAPIRepositoriesHuggingFaceHuggingFaceUpdateRequest) (*HuggingFaceHuggingFaceRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesHuggingFaceAPIService.RepositoriesHuggingFaceHuggingFaceUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_repository_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceRepositoryHref, "huggingFaceHuggingFaceRepositoryHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFaceRepository == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFaceRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFaceRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
