/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// ContentOpenpgpPublickeyAPIService ContentOpenpgpPublickeyAPI service
type ContentOpenpgpPublickeyAPIService service

type ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest struct {
	ctx context.Context
	ApiService *ContentOpenpgpPublickeyAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	repository *string
	pulpLabels *map[string]string
	file *os.File
	upload *string
	fileUrl *string
	downloaderConfig *RemoteNetworkConfig
}

// List of profilers to use on tasks.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A URI of a repository the new content unit should be associated with.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) Repository(repository string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	r.repository = &repository
	return r
}

// A dictionary of arbitrary key/value pairs used to describe a specific Content instance.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) PulpLabels(pulpLabels map[string]string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	r.pulpLabels = &pulpLabels
	return r
}

// An uploaded file that may be turned into the content unit.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) File(file *os.File) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	r.file = file
	return r
}

// An uncommitted upload that may be turned into the content unit.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) Upload(upload string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	r.upload = &upload
	return r
}

// A url that Pulp can download and turn into the content unit.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) FileUrl(fileUrl string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	r.fileUrl = &fileUrl
	return r
}

// Configuration for the download process (e.g., proxies, auth, timeouts). Only applicable when providing a &#39;file_url.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) DownloaderConfig(downloaderConfig RemoteNetworkConfig) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	r.downloaderConfig = &downloaderConfig
	return r
}

func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentCoreOpenpgpPublickeyCreateExecute(r)
}

/*
ContentCoreOpenpgpPublickeyCreate Create an open pgp public key

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest
*/
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyCreate(ctx context.Context, pulpDomain string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest {
	return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyCreateExecute(r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentOpenpgpPublickeyAPIService.ContentCoreOpenpgpPublickeyCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/core/openpgp_publickey/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "repository", r.repository, "", "")
	}
	if r.pulpLabels != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "pulp_labels", r.pulpLabels, "", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"


	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.upload != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "upload", r.upload, "", "")
	}
	if r.fileUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "file_url", r.fileUrl, "", "")
	}
	if r.downloaderConfig != nil {
		paramJson, err := parameterToJson(*r.downloaderConfig)
		if err != nil {
			return localVarReturnValue, nil, err
		}
		localVarFormParams.Add("downloader_config", paramJson)
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest struct {
	ctx context.Context
	ApiService *ContentOpenpgpPublickeyAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	fingerprint *string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where fingerprint matches value
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) Fingerprint(fingerprint string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.fingerprint = &fingerprint
	return r
}

// Number of results to return per page.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) Limit(limit int32) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) Offset(offset int32) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;raw_data&#x60; - Raw data* &#x60;-raw_data&#x60; - Raw data (descending)* &#x60;fingerprint&#x60; - Fingerprint* &#x60;-fingerprint&#x60; - Fingerprint (descending)* &#x60;created&#x60; - Created* &#x60;-created&#x60; - Created (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) Ordering(ordering []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) OrphanedFor(orphanedFor float32) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) PrnIn(prnIn []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) PulpHrefIn(pulpHrefIn []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) PulpIdIn(pulpIdIn []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) PulpLabelSelect(pulpLabelSelect string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) Q(q string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) RepositoryVersion(repositoryVersion string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) Fields(fields []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) ExcludeFields(excludeFields []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) Execute() (*PaginatedOpenPGPPublicKeyResponseList, *http.Response, error) {
	return r.ApiService.ContentCoreOpenpgpPublickeyListExecute(r)
}

/*
ContentCoreOpenpgpPublickeyList List open pgp public keys

A ViewSet for uploads that do not require to store an uploaded content as an Artifact.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest
*/
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyList(ctx context.Context, pulpDomain string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest {
	return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedOpenPGPPublicKeyResponseList
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyListExecute(r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyListRequest) (*PaginatedOpenPGPPublicKeyResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedOpenPGPPublicKeyResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentOpenpgpPublickeyAPIService.ContentCoreOpenpgpPublickeyList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/core/openpgp_publickey/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fingerprint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fingerprint", r.fingerprint, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest struct {
	ctx context.Context
	ApiService *ContentOpenpgpPublickeyAPIService
	openPGPPublicKeyHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest) Fields(fields []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest) ExcludeFields(excludeFields []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest) Execute() (*OpenPGPPublicKeyResponse, *http.Response, error) {
	return r.ApiService.ContentCoreOpenpgpPublickeyReadExecute(r)
}

/*
ContentCoreOpenpgpPublickeyRead Inspect an open pgp public key

A ViewSet for uploads that do not require to store an uploaded content as an Artifact.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param openPGPPublicKeyHref
 @return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest
*/
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyRead(ctx context.Context, openPGPPublicKeyHref string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest {
	return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest{
		ApiService: a,
		ctx: ctx,
		openPGPPublicKeyHref: openPGPPublicKeyHref,
	}
}

// Execute executes the request
//  @return OpenPGPPublicKeyResponse
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyReadExecute(r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyReadRequest) (*OpenPGPPublicKeyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OpenPGPPublicKeyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentOpenpgpPublickeyAPIService.ContentCoreOpenpgpPublickeyRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{open_p_g_p_public_key_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"open_p_g_p_public_key_href"+"}", url.PathEscape(parameterValueToString(r.openPGPPublicKeyHref, "openPGPPublicKeyHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest struct {
	ctx context.Context
	ApiService *ContentOpenpgpPublickeyAPIService
	openPGPPublicKeyHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest) SetLabel(setLabel SetLabel) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentCoreOpenpgpPublickeySetLabelExecute(r)
}

/*
ContentCoreOpenpgpPublickeySetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param openPGPPublicKeyHref
 @return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest
*/
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeySetLabel(ctx context.Context, openPGPPublicKeyHref string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest {
	return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest{
		ApiService: a,
		ctx: ctx,
		openPGPPublicKeyHref: openPGPPublicKeyHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeySetLabelExecute(r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeySetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentOpenpgpPublickeyAPIService.ContentCoreOpenpgpPublickeySetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{open_p_g_p_public_key_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"open_p_g_p_public_key_href"+"}", url.PathEscape(parameterValueToString(r.openPGPPublicKeyHref, "openPGPPublicKeyHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentOpenpgpPublickeyAPIService
	openPGPPublicKeyHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentCoreOpenpgpPublickeyUnsetLabelExecute(r)
}

/*
ContentCoreOpenpgpPublickeyUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param openPGPPublicKeyHref
 @return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest
*/
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyUnsetLabel(ctx context.Context, openPGPPublicKeyHref string) ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest {
	return ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		openPGPPublicKeyHref: openPGPPublicKeyHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentOpenpgpPublickeyAPIService) ContentCoreOpenpgpPublickeyUnsetLabelExecute(r ContentOpenpgpPublickeyAPIContentCoreOpenpgpPublickeyUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentOpenpgpPublickeyAPIService.ContentCoreOpenpgpPublickeyUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{open_p_g_p_public_key_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"open_p_g_p_public_key_href"+"}", url.PathEscape(parameterValueToString(r.openPGPPublicKeyHref, "openPGPPublicKeyHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
