/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RpmPruneAPIService RpmPruneAPI service
type RpmPruneAPIService service

type RpmPruneAPIRpmPrunePrunePackagesRequest struct {
	ctx context.Context
	ApiService *RpmPruneAPIService
	pulpDomain string
	prunePackages *PrunePackages
	xTaskDiagnostics *[]string
}

func (r RpmPruneAPIRpmPrunePrunePackagesRequest) PrunePackages(prunePackages PrunePackages) RpmPruneAPIRpmPrunePrunePackagesRequest {
	r.prunePackages = &prunePackages
	return r
}

// List of profilers to use on tasks.
func (r RpmPruneAPIRpmPrunePrunePackagesRequest) XTaskDiagnostics(xTaskDiagnostics []string) RpmPruneAPIRpmPrunePrunePackagesRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RpmPruneAPIRpmPrunePrunePackagesRequest) Execute() (*TaskGroupOperationResponse, *http.Response, error) {
	return r.ApiService.RpmPrunePrunePackagesExecute(r)
}

/*
RpmPrunePrunePackages Method for RpmPrunePrunePackages

Trigger an asynchronous old-Package-prune operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RpmPruneAPIRpmPrunePrunePackagesRequest
*/
func (a *RpmPruneAPIService) RpmPrunePrunePackages(ctx context.Context, pulpDomain string) RpmPruneAPIRpmPrunePrunePackagesRequest {
	return RpmPruneAPIRpmPrunePrunePackagesRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return TaskGroupOperationResponse
func (a *RpmPruneAPIService) RpmPrunePrunePackagesExecute(r RpmPruneAPIRpmPrunePrunePackagesRequest) (*TaskGroupOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskGroupOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RpmPruneAPIService.RpmPrunePrunePackages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/rpm/prune/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prunePackages == nil {
		return localVarReturnValue, nil, reportError("prunePackages is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.prunePackages
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
