/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"reflect"
)


// VulnReportServiceAPIService VulnReportServiceAPI service
type VulnReportServiceAPIService service

type VulnReportServiceAPIVulnReportServiceCreateRequest struct {
	ctx context.Context
	ApiService *VulnReportServiceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	repoVersion *string
	packageJson *os.File
}

// List of profilers to use on tasks.
func (r VulnReportServiceAPIVulnReportServiceCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) VulnReportServiceAPIVulnReportServiceCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// RepositoryVersion HREF with the packages to be checked.
func (r VulnReportServiceAPIVulnReportServiceCreateRequest) RepoVersion(repoVersion string) VulnReportServiceAPIVulnReportServiceCreateRequest {
	r.repoVersion = &repoVersion
	return r
}

// package-lock.json file with the definition of dependencies to be checked.
func (r VulnReportServiceAPIVulnReportServiceCreateRequest) PackageJson(packageJson *os.File) VulnReportServiceAPIVulnReportServiceCreateRequest {
	r.packageJson = packageJson
	return r
}

func (r VulnReportServiceAPIVulnReportServiceCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.VulnReportServiceCreateExecute(r)
}

/*
VulnReportServiceCreate Generate vulnerability report

Trigger a task to generate the package vulnerability report

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return VulnReportServiceAPIVulnReportServiceCreateRequest
*/
func (a *VulnReportServiceAPIService) VulnReportServiceCreate(ctx context.Context, pulpDomain string) VulnReportServiceAPIVulnReportServiceCreateRequest {
	return VulnReportServiceAPIVulnReportServiceCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *VulnReportServiceAPIService) VulnReportServiceCreateExecute(r VulnReportServiceAPIVulnReportServiceCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VulnReportServiceAPIService.VulnReportServiceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/vuln_report_service/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	if r.repoVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "repo_version", r.repoVersion, "", "")
	}
	var packageJsonLocalVarFormFileName string
	var packageJsonLocalVarFileName     string
	var packageJsonLocalVarFileBytes    []byte

	packageJsonLocalVarFormFileName = "package_json"


	packageJsonLocalVarFile := r.packageJson

	if packageJsonLocalVarFile != nil {
		fbs, _ := io.ReadAll(packageJsonLocalVarFile)

		packageJsonLocalVarFileBytes = fbs
		packageJsonLocalVarFileName = packageJsonLocalVarFile.Name()
		packageJsonLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: packageJsonLocalVarFileBytes, fileName: packageJsonLocalVarFileName, formFileName: packageJsonLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VulnReportServiceAPIVulnReportServiceDeleteRequest struct {
	ctx context.Context
	ApiService *VulnReportServiceAPIService
	serviceVulnerabilityReportHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r VulnReportServiceAPIVulnReportServiceDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) VulnReportServiceAPIVulnReportServiceDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r VulnReportServiceAPIVulnReportServiceDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.VulnReportServiceDeleteExecute(r)
}

/*
VulnReportServiceDelete Delete a vulnerability report

A customized named ModelViewSet that knows how to register itself with the Pulp API router.This viewset is discoverable by its name."Normal" Django Models and Master/Detail models are supported by the ``register_with`` method.Attributes:    lookup_field (str): The name of the field by which an object should be looked up, in        addition to any parent lookups if this ViewSet is nested. Defaults to 'pk'    endpoint_name (str): The name of the final path segment that should identify the ViewSet's        collection endpoint.    nest_prefix (str): Optional prefix under which this ViewSet should be nested. This must        correspond to the "parent_prefix" of a router with rest_framework_nested.NestedMixin.        None indicates this ViewSet should not be nested.    parent_lookup_kwargs (dict): Optional mapping of key names that would appear in self.kwargs        to django model filter expressions that can be used with the corresponding value from        self.kwargs, used only by a nested ViewSet to filter based on the parent object's        identity.    schema (DefaultSchema): The schema class to use by default in a viewset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceVulnerabilityReportHref
 @return VulnReportServiceAPIVulnReportServiceDeleteRequest
*/
func (a *VulnReportServiceAPIService) VulnReportServiceDelete(ctx context.Context, serviceVulnerabilityReportHref string) VulnReportServiceAPIVulnReportServiceDeleteRequest {
	return VulnReportServiceAPIVulnReportServiceDeleteRequest{
		ApiService: a,
		ctx: ctx,
		serviceVulnerabilityReportHref: serviceVulnerabilityReportHref,
	}
}

// Execute executes the request
func (a *VulnReportServiceAPIService) VulnReportServiceDeleteExecute(r VulnReportServiceAPIVulnReportServiceDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VulnReportServiceAPIService.VulnReportServiceDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_vulnerability_report_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"service_vulnerability_report_href"+"}", url.PathEscape(parameterValueToString(r.serviceVulnerabilityReportHref, "serviceVulnerabilityReportHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VulnReportServiceAPIVulnReportServiceListRequest struct {
	ctx context.Context
	ApiService *VulnReportServiceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r VulnReportServiceAPIVulnReportServiceListRequest) XTaskDiagnostics(xTaskDiagnostics []string) VulnReportServiceAPIVulnReportServiceListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r VulnReportServiceAPIVulnReportServiceListRequest) Limit(limit int32) VulnReportServiceAPIVulnReportServiceListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r VulnReportServiceAPIVulnReportServiceListRequest) Offset(offset int32) VulnReportServiceAPIVulnReportServiceListRequest {
	r.offset = &offset
	return r
}

// A list of fields to include in the response.
func (r VulnReportServiceAPIVulnReportServiceListRequest) Fields(fields []string) VulnReportServiceAPIVulnReportServiceListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r VulnReportServiceAPIVulnReportServiceListRequest) ExcludeFields(excludeFields []string) VulnReportServiceAPIVulnReportServiceListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r VulnReportServiceAPIVulnReportServiceListRequest) Execute() (*PaginatedserviceVulnerabilityReportResponseList, *http.Response, error) {
	return r.ApiService.VulnReportServiceListExecute(r)
}

/*
VulnReportServiceList List vulnerability reports

A customized named ModelViewSet that knows how to register itself with the Pulp API router.This viewset is discoverable by its name."Normal" Django Models and Master/Detail models are supported by the ``register_with`` method.Attributes:    lookup_field (str): The name of the field by which an object should be looked up, in        addition to any parent lookups if this ViewSet is nested. Defaults to 'pk'    endpoint_name (str): The name of the final path segment that should identify the ViewSet's        collection endpoint.    nest_prefix (str): Optional prefix under which this ViewSet should be nested. This must        correspond to the "parent_prefix" of a router with rest_framework_nested.NestedMixin.        None indicates this ViewSet should not be nested.    parent_lookup_kwargs (dict): Optional mapping of key names that would appear in self.kwargs        to django model filter expressions that can be used with the corresponding value from        self.kwargs, used only by a nested ViewSet to filter based on the parent object's        identity.    schema (DefaultSchema): The schema class to use by default in a viewset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return VulnReportServiceAPIVulnReportServiceListRequest
*/
func (a *VulnReportServiceAPIService) VulnReportServiceList(ctx context.Context, pulpDomain string) VulnReportServiceAPIVulnReportServiceListRequest {
	return VulnReportServiceAPIVulnReportServiceListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedserviceVulnerabilityReportResponseList
func (a *VulnReportServiceAPIService) VulnReportServiceListExecute(r VulnReportServiceAPIVulnReportServiceListRequest) (*PaginatedserviceVulnerabilityReportResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedserviceVulnerabilityReportResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VulnReportServiceAPIService.VulnReportServiceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/vuln_report_service/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VulnReportServiceAPIVulnReportServiceReadRequest struct {
	ctx context.Context
	ApiService *VulnReportServiceAPIService
	serviceVulnerabilityReportHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r VulnReportServiceAPIVulnReportServiceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) VulnReportServiceAPIVulnReportServiceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r VulnReportServiceAPIVulnReportServiceReadRequest) Fields(fields []string) VulnReportServiceAPIVulnReportServiceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r VulnReportServiceAPIVulnReportServiceReadRequest) ExcludeFields(excludeFields []string) VulnReportServiceAPIVulnReportServiceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r VulnReportServiceAPIVulnReportServiceReadRequest) Execute() (*ServiceVulnerabilityReportResponse, *http.Response, error) {
	return r.ApiService.VulnReportServiceReadExecute(r)
}

/*
VulnReportServiceRead Inspect a vulnerability report

A customized named ModelViewSet that knows how to register itself with the Pulp API router.This viewset is discoverable by its name."Normal" Django Models and Master/Detail models are supported by the ``register_with`` method.Attributes:    lookup_field (str): The name of the field by which an object should be looked up, in        addition to any parent lookups if this ViewSet is nested. Defaults to 'pk'    endpoint_name (str): The name of the final path segment that should identify the ViewSet's        collection endpoint.    nest_prefix (str): Optional prefix under which this ViewSet should be nested. This must        correspond to the "parent_prefix" of a router with rest_framework_nested.NestedMixin.        None indicates this ViewSet should not be nested.    parent_lookup_kwargs (dict): Optional mapping of key names that would appear in self.kwargs        to django model filter expressions that can be used with the corresponding value from        self.kwargs, used only by a nested ViewSet to filter based on the parent object's        identity.    schema (DefaultSchema): The schema class to use by default in a viewset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serviceVulnerabilityReportHref
 @return VulnReportServiceAPIVulnReportServiceReadRequest
*/
func (a *VulnReportServiceAPIService) VulnReportServiceRead(ctx context.Context, serviceVulnerabilityReportHref string) VulnReportServiceAPIVulnReportServiceReadRequest {
	return VulnReportServiceAPIVulnReportServiceReadRequest{
		ApiService: a,
		ctx: ctx,
		serviceVulnerabilityReportHref: serviceVulnerabilityReportHref,
	}
}

// Execute executes the request
//  @return ServiceVulnerabilityReportResponse
func (a *VulnReportServiceAPIService) VulnReportServiceReadExecute(r VulnReportServiceAPIVulnReportServiceReadRequest) (*ServiceVulnerabilityReportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ServiceVulnerabilityReportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VulnReportServiceAPIService.VulnReportServiceRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{service_vulnerability_report_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"service_vulnerability_report_href"+"}", url.PathEscape(parameterValueToString(r.serviceVulnerabilityReportHref, "serviceVulnerabilityReportHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
