/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DistributionsHuggingFaceAPIService DistributionsHuggingFaceAPI service
type DistributionsHuggingFaceAPIService service

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	pulpDomain string
	huggingFaceHuggingFaceDistribution *HuggingFaceHuggingFaceDistribution
	xTaskDiagnostics *[]string
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest) HuggingFaceHuggingFaceDistribution(huggingFaceHuggingFaceDistribution HuggingFaceHuggingFaceDistribution) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest {
	r.huggingFaceHuggingFaceDistribution = &huggingFaceHuggingFaceDistribution
	return r
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFaceCreateExecute(r)
}

/*
DistributionsHuggingFaceHuggingFaceCreate Create a hugging face distribution

Trigger an asynchronous create task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceCreate(ctx context.Context, pulpDomain string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceCreateExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFaceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/distributions/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFaceDistribution == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFaceDistribution is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFaceDistribution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	huggingFaceHuggingFaceDistributionHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFaceDeleteExecute(r)
}

/*
DistributionsHuggingFaceHuggingFaceDelete Delete a hugging face distribution

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceDistributionHref
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceDelete(ctx context.Context, huggingFaceHuggingFaceDistributionHref string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceDistributionHref: huggingFaceHuggingFaceDistributionHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceDeleteExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFaceDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_distribution_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceDistributionHref, "huggingFaceHuggingFaceDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	basePath *string
	basePathContains *string
	basePathIcontains *string
	basePathIn *[]string
	checkpoint *bool
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repository *string
	repositoryIn *[]string
	withContent *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Filter results where base_path matches value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) BasePath(basePath string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.basePath = &basePath
	return r
}

// Filter results where base_path contains value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) BasePathContains(basePathContains string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.basePathContains = &basePathContains
	return r
}

// Filter results where base_path contains value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) BasePathIcontains(basePathIcontains string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.basePathIcontains = &basePathIcontains
	return r
}

// Filter results where base_path is in a comma-separated list of values
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) BasePathIn(basePathIn []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.basePathIn = &basePathIn
	return r
}

// Filter results where checkpoint matches value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Checkpoint(checkpoint bool) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.checkpoint = &checkpoint
	return r
}

// Number of results to return per page.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Limit(limit int32) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Name(name string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameContains(nameContains string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameIcontains(nameIcontains string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameIexact(nameIexact string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameIn(nameIn []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameIregex(nameIregex string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameIstartswith(nameIstartswith string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameRegex(nameRegex string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) NameStartswith(nameStartswith string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Offset(offset int32) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;base_path&#x60; - Base path* &#x60;-base_path&#x60; - Base path (descending)* &#x60;hidden&#x60; - Hidden* &#x60;-hidden&#x60; - Hidden (descending)* &#x60;checkpoint&#x60; - Checkpoint* &#x60;-checkpoint&#x60; - Checkpoint (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Ordering(ordering []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) PrnIn(prnIn []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) PulpHrefIn(pulpHrefIn []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) PulpIdIn(pulpIdIn []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) PulpLabelSelect(pulpLabelSelect string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Q(q string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.q = &q
	return r
}

// Filter results where repository matches value
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Repository(repository string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.repository = &repository
	return r
}

// Filter results where repository is in a comma-separated list of values
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) RepositoryIn(repositoryIn []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.repositoryIn = &repositoryIn
	return r
}

// Filter distributions based on the content served by them
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) WithContent(withContent string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.withContent = &withContent
	return r
}

// A list of fields to include in the response.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Fields(fields []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) ExcludeFields(excludeFields []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) Execute() (*PaginatedhuggingFaceHuggingFaceDistributionResponseList, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFaceListExecute(r)
}

/*
DistributionsHuggingFaceHuggingFaceList List hugging face distributions

A ViewSet for HuggingFaceDistribution.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceList(ctx context.Context, pulpDomain string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedhuggingFaceHuggingFaceDistributionResponseList
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceListExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceListRequest) (*PaginatedhuggingFaceHuggingFaceDistributionResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedhuggingFaceHuggingFaceDistributionResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFaceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/distributions/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.basePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path", r.basePath, "form", "")
	}
	if r.basePathContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path__contains", r.basePathContains, "form", "")
	}
	if r.basePathIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path__icontains", r.basePathIcontains, "form", "")
	}
	if r.basePathIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "base_path__in", r.basePathIn, "form", "csv")
	}
	if r.checkpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checkpoint", r.checkpoint, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repository != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository", r.repository, "form", "")
	}
	if r.repositoryIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository__in", r.repositoryIn, "form", "csv")
	}
	if r.withContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "with_content", r.withContent, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	huggingFaceHuggingFaceDistributionHref string
	patchedhuggingFaceHuggingFaceDistribution *PatchedhuggingFaceHuggingFaceDistribution
	xTaskDiagnostics *[]string
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest) PatchedhuggingFaceHuggingFaceDistribution(patchedhuggingFaceHuggingFaceDistribution PatchedhuggingFaceHuggingFaceDistribution) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest {
	r.patchedhuggingFaceHuggingFaceDistribution = &patchedhuggingFaceHuggingFaceDistribution
	return r
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest) Execute() (*HuggingFaceHuggingFaceDistributionResponse, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFacePartialUpdateExecute(r)
}

/*
DistributionsHuggingFaceHuggingFacePartialUpdate Update a hugging face distribution

Update the entity partially and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceDistributionHref
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFacePartialUpdate(ctx context.Context, huggingFaceHuggingFaceDistributionHref string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceDistributionHref: huggingFaceHuggingFaceDistributionHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceDistributionResponse
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFacePartialUpdateExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFacePartialUpdateRequest) (*HuggingFaceHuggingFaceDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFacePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_distribution_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceDistributionHref, "huggingFaceHuggingFaceDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedhuggingFaceHuggingFaceDistribution == nil {
		return localVarReturnValue, nil, reportError("patchedhuggingFaceHuggingFaceDistribution is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedhuggingFaceHuggingFaceDistribution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	huggingFaceHuggingFaceDistributionHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest) Fields(fields []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest) ExcludeFields(excludeFields []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest) Execute() (*HuggingFaceHuggingFaceDistributionResponse, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFaceReadExecute(r)
}

/*
DistributionsHuggingFaceHuggingFaceRead Inspect a hugging face distribution

A ViewSet for HuggingFaceDistribution.Similar to the HuggingFaceContentViewSet above, define endpoint_name,queryset and serializer, at a minimum.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceDistributionHref
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceRead(ctx context.Context, huggingFaceHuggingFaceDistributionHref string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceDistributionHref: huggingFaceHuggingFaceDistributionHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceDistributionResponse
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceReadExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceReadRequest) (*HuggingFaceHuggingFaceDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFaceRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_distribution_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceDistributionHref, "huggingFaceHuggingFaceDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	huggingFaceHuggingFaceDistributionHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest) SetLabel(setLabel SetLabel) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFaceSetLabelExecute(r)
}

/*
DistributionsHuggingFaceHuggingFaceSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceDistributionHref
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceSetLabel(ctx context.Context, huggingFaceHuggingFaceDistributionHref string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceDistributionHref: huggingFaceHuggingFaceDistributionHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceSetLabelExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFaceSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_distribution_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_distribution_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceDistributionHref, "huggingFaceHuggingFaceDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	huggingFaceHuggingFaceDistributionHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFaceUnsetLabelExecute(r)
}

/*
DistributionsHuggingFaceHuggingFaceUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceDistributionHref
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceUnsetLabel(ctx context.Context, huggingFaceHuggingFaceDistributionHref string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceDistributionHref: huggingFaceHuggingFaceDistributionHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceUnsetLabelExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFaceUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_distribution_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_distribution_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceDistributionHref, "huggingFaceHuggingFaceDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest struct {
	ctx context.Context
	ApiService *DistributionsHuggingFaceAPIService
	huggingFaceHuggingFaceDistributionHref string
	huggingFaceHuggingFaceDistribution *HuggingFaceHuggingFaceDistribution
	xTaskDiagnostics *[]string
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest) HuggingFaceHuggingFaceDistribution(huggingFaceHuggingFaceDistribution HuggingFaceHuggingFaceDistribution) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest {
	r.huggingFaceHuggingFaceDistribution = &huggingFaceHuggingFaceDistribution
	return r
}

// List of profilers to use on tasks.
func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest) Execute() (*HuggingFaceHuggingFaceDistributionResponse, *http.Response, error) {
	return r.ApiService.DistributionsHuggingFaceHuggingFaceUpdateExecute(r)
}

/*
DistributionsHuggingFaceHuggingFaceUpdate Update a hugging face distribution

Update the entity and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceDistributionHref
 @return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest
*/
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceUpdate(ctx context.Context, huggingFaceHuggingFaceDistributionHref string) DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest {
	return DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceDistributionHref: huggingFaceHuggingFaceDistributionHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceDistributionResponse
func (a *DistributionsHuggingFaceAPIService) DistributionsHuggingFaceHuggingFaceUpdateExecute(r DistributionsHuggingFaceAPIDistributionsHuggingFaceHuggingFaceUpdateRequest) (*HuggingFaceHuggingFaceDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DistributionsHuggingFaceAPIService.DistributionsHuggingFaceHuggingFaceUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_distribution_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_distribution_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceDistributionHref, "huggingFaceHuggingFaceDistributionHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFaceDistribution == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFaceDistribution is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFaceDistribution
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
