/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ApiIntegrityProvenanceAPIService ApiIntegrityProvenanceAPI service
type ApiIntegrityProvenanceAPIService service

type ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest struct {
	ctx context.Context
	ApiService *ApiIntegrityProvenanceAPIService
	filename string
	package_ string
	path string
	pulpDomain string
	version string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest) Fields(fields []string) ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest) ExcludeFields(excludeFields []string) ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiPypiIntegrityProvenanceReadExecute(r)
}

/*
ApiPypiIntegrityProvenanceRead Get package provenance

Gets the provenance for a package.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param filename
 @param package_
 @param path
 @param pulpDomain
 @param version
 @return ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest
*/
func (a *ApiIntegrityProvenanceAPIService) ApiPypiIntegrityProvenanceRead(ctx context.Context, filename string, package_ string, path string, pulpDomain string, version string) ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest {
	return ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest{
		ApiService: a,
		ctx: ctx,
		filename: filename,
		package_: package_,
		path: path,
		pulpDomain: pulpDomain,
		version: version,
	}
}

// Execute executes the request
func (a *ApiIntegrityProvenanceAPIService) ApiPypiIntegrityProvenanceReadExecute(r ApiIntegrityProvenanceAPIApiPypiIntegrityProvenanceReadRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiIntegrityProvenanceAPIService.ApiPypiIntegrityProvenanceRead")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pypi/{pulp_domain}/{path}/integrity/{package}/{version}/{filename}/provenance/"
	localVarPath = strings.Replace(localVarPath, "{"+"filename"+"}", url.PathEscape(parameterValueToString(r.filename, "filename")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"package"+"}", url.PathEscape(parameterValueToString(r.package_, "package_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
