/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentHuggingFaceAPIService ContentHuggingFaceAPI service
type ContentHuggingFaceAPIService service

type ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest struct {
	ctx context.Context
	ApiService *ContentHuggingFaceAPIService
	pulpDomain string
	huggingFaceHuggingFaceContent *HuggingFaceHuggingFaceContent
	xTaskDiagnostics *[]string
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest) HuggingFaceHuggingFaceContent(huggingFaceHuggingFaceContent HuggingFaceHuggingFaceContent) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest {
	r.huggingFaceHuggingFaceContent = &huggingFaceHuggingFaceContent
	return r
}

// List of profilers to use on tasks.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest) Execute() (*HuggingFaceHuggingFaceContentResponse, *http.Response, error) {
	return r.ApiService.ContentHuggingFaceHuggingFaceCreateExecute(r)
}

/*
ContentHuggingFaceHuggingFaceCreate Create a hugging face content

Perform bookkeeping when saving Content."Artifacts" need to be popped off and saved indpendently, as they are not actually partof the Content model.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest
*/
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceCreate(ctx context.Context, pulpDomain string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest {
	return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceContentResponse
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceCreateExecute(r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceCreateRequest) (*HuggingFaceHuggingFaceContentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceContentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentHuggingFaceAPIService.ContentHuggingFaceHuggingFaceCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.huggingFaceHuggingFaceContent == nil {
		return localVarReturnValue, nil, reportError("huggingFaceHuggingFaceContent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.huggingFaceHuggingFaceContent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest struct {
	ctx context.Context
	ApiService *ContentHuggingFaceAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	relativePath *string
	repoId *string
	repoType *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	revision *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) Limit(limit int32) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) Offset(offset int32) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;upstream_id&#x60; - Upstream id* &#x60;-upstream_id&#x60; - Upstream id (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;timestamp_of_interest&#x60; - Timestamp of interest* &#x60;-timestamp_of_interest&#x60; - Timestamp of interest (descending)* &#x60;repo_id&#x60; - Repo id* &#x60;-repo_id&#x60; - Repo id (descending)* &#x60;repo_type&#x60; - Repo type* &#x60;-repo_type&#x60; - Repo type (descending)* &#x60;relative_path&#x60; - Relative path* &#x60;-relative_path&#x60; - Relative path (descending)* &#x60;revision&#x60; - Revision* &#x60;-revision&#x60; - Revision (descending)* &#x60;size&#x60; - Size* &#x60;-size&#x60; - Size (descending)* &#x60;etag&#x60; - Etag* &#x60;-etag&#x60; - Etag (descending)* &#x60;last_modified&#x60; - Last modified* &#x60;-last_modified&#x60; - Last modified (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) Ordering(ordering []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) OrphanedFor(orphanedFor float32) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) PrnIn(prnIn []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) PulpHrefIn(pulpHrefIn []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) PulpIdIn(pulpIdIn []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) PulpLabelSelect(pulpLabelSelect string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) Q(q string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.q = &q
	return r
}

// Filter results where relative_path matches value
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) RelativePath(relativePath string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.relativePath = &relativePath
	return r
}

// Filter results where repo_id matches value
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) RepoId(repoId string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.repoId = &repoId
	return r
}

// Filter results where repo_type matches value* &#x60;models&#x60; - Models* &#x60;datasets&#x60; - Datasets* &#x60;spaces&#x60; - Spaces
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) RepoType(repoType string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.repoType = &repoType
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) RepositoryVersion(repositoryVersion string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where revision matches value
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) Revision(revision string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.revision = &revision
	return r
}

// A list of fields to include in the response.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) Fields(fields []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) ExcludeFields(excludeFields []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) Execute() (*PaginatedhuggingFaceHuggingFaceContentResponseList, *http.Response, error) {
	return r.ApiService.ContentHuggingFaceHuggingFaceListExecute(r)
}

/*
ContentHuggingFaceHuggingFaceList List hugging face contents

A ViewSet for HuggingFaceContent.Define endpoint name which will appear in the API endpoint for this content type.For example::    https://pulp.example.com/pulp/api/v3/content/hugging-face/units/Also specify queryset and serializer for HuggingFaceContent.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest
*/
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceList(ctx context.Context, pulpDomain string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest {
	return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedhuggingFaceHuggingFaceContentResponseList
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceListExecute(r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceListRequest) (*PaginatedhuggingFaceHuggingFaceContentResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedhuggingFaceHuggingFaceContentResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentHuggingFaceAPIService.ContentHuggingFaceHuggingFaceList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/hugging_face/hugging-face/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.relativePath != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "relative_path", r.relativePath, "form", "")
	}
	if r.repoId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo_id", r.repoId, "form", "")
	}
	if r.repoType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repo_type", r.repoType, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.revision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "revision", r.revision, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest struct {
	ctx context.Context
	ApiService *ContentHuggingFaceAPIService
	huggingFaceHuggingFaceContentHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest) Fields(fields []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest) ExcludeFields(excludeFields []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest) Execute() (*HuggingFaceHuggingFaceContentResponse, *http.Response, error) {
	return r.ApiService.ContentHuggingFaceHuggingFaceReadExecute(r)
}

/*
ContentHuggingFaceHuggingFaceRead Inspect a hugging face content

A ViewSet for HuggingFaceContent.Define endpoint name which will appear in the API endpoint for this content type.For example::    https://pulp.example.com/pulp/api/v3/content/hugging-face/units/Also specify queryset and serializer for HuggingFaceContent.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceContentHref
 @return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest
*/
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceRead(ctx context.Context, huggingFaceHuggingFaceContentHref string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest {
	return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceContentHref: huggingFaceHuggingFaceContentHref,
	}
}

// Execute executes the request
//  @return HuggingFaceHuggingFaceContentResponse
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceReadExecute(r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceReadRequest) (*HuggingFaceHuggingFaceContentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HuggingFaceHuggingFaceContentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentHuggingFaceAPIService.ContentHuggingFaceHuggingFaceRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_content_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_content_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceContentHref, "huggingFaceHuggingFaceContentHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentHuggingFaceAPIService
	huggingFaceHuggingFaceContentHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest) SetLabel(setLabel SetLabel) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentHuggingFaceHuggingFaceSetLabelExecute(r)
}

/*
ContentHuggingFaceHuggingFaceSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceContentHref
 @return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest
*/
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceSetLabel(ctx context.Context, huggingFaceHuggingFaceContentHref string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest {
	return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceContentHref: huggingFaceHuggingFaceContentHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceSetLabelExecute(r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentHuggingFaceAPIService.ContentHuggingFaceHuggingFaceSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_content_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_content_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceContentHref, "huggingFaceHuggingFaceContentHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentHuggingFaceAPIService
	huggingFaceHuggingFaceContentHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentHuggingFaceHuggingFaceUnsetLabelExecute(r)
}

/*
ContentHuggingFaceHuggingFaceUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param huggingFaceHuggingFaceContentHref
 @return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest
*/
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceUnsetLabel(ctx context.Context, huggingFaceHuggingFaceContentHref string) ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest {
	return ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		huggingFaceHuggingFaceContentHref: huggingFaceHuggingFaceContentHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentHuggingFaceAPIService) ContentHuggingFaceHuggingFaceUnsetLabelExecute(r ContentHuggingFaceAPIContentHuggingFaceHuggingFaceUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentHuggingFaceAPIService.ContentHuggingFaceHuggingFaceUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{hugging_face_hugging_face_content_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"hugging_face_hugging_face_content_href"+"}", url.PathEscape(parameterValueToString(r.huggingFaceHuggingFaceContentHref, "huggingFaceHuggingFaceContentHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
