/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// ApiLegacyAPIService ApiLegacyAPI service
type ApiLegacyAPIService service

type ApiLegacyAPIApiPypiLegacyCreateRequest struct {
	ctx context.Context
	ApiService *ApiLegacyAPIService
	path string
	pulpDomain string
	content *os.File
	sha256Digest *string
	xTaskDiagnostics *[]string
	action *string
	protocolVersion *ProtocolVersionEnum
	filetype *FiletypeEnum
	metadataVersion *MetadataVersionEnum
	attestations *interface{}
}

// A Python package release file to upload to the index.
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) Content(content *os.File) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.content = content
	return r
}

// SHA256 of package to validate upload integrity.
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) Sha256Digest(sha256Digest string) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.sha256Digest = &sha256Digest
	return r
}

// List of profilers to use on tasks.
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Defaults to &#x60;file_upload&#x60;, don&#39;t change it or request will fail!
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) Action(action string) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.action = &action
	return r
}

// Protocol version to use for the upload. Only version 1 is supported.* &#x60;1&#x60; - 1
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) ProtocolVersion(protocolVersion ProtocolVersionEnum) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.protocolVersion = &protocolVersion
	return r
}

// Type of artifact to upload.* &#x60;bdist_wheel&#x60; - bdist_wheel* &#x60;sdist&#x60; - sdist
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) Filetype(filetype FiletypeEnum) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.filetype = &filetype
	return r
}

// Metadata version of the uploaded package.* &#x60;1.0&#x60; - 1.0* &#x60;1.1&#x60; - 1.1* &#x60;1.2&#x60; - 1.2* &#x60;2.0&#x60; - 2.0* &#x60;2.1&#x60; - 2.1* &#x60;2.2&#x60; - 2.2* &#x60;2.3&#x60; - 2.3* &#x60;2.4&#x60; - 2.4
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) MetadataVersion(metadataVersion MetadataVersionEnum) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.metadataVersion = &metadataVersion
	return r
}

// A JSON list containing attestations for the package.
func (r ApiLegacyAPIApiPypiLegacyCreateRequest) Attestations(attestations interface{}) ApiLegacyAPIApiPypiLegacyCreateRequest {
	r.attestations = &attestations
	return r
}

func (r ApiLegacyAPIApiPypiLegacyCreateRequest) Execute() (*PackageUploadTaskResponse, *http.Response, error) {
	return r.ApiService.ApiPypiLegacyCreateExecute(r)
}

/*
ApiPypiLegacyCreate Upload a package

Upload package to the index.This is the endpoint that tools like Twine and Poetry use for their upload commands.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param path
 @param pulpDomain
 @return ApiLegacyAPIApiPypiLegacyCreateRequest
*/
func (a *ApiLegacyAPIService) ApiPypiLegacyCreate(ctx context.Context, path string, pulpDomain string) ApiLegacyAPIApiPypiLegacyCreateRequest {
	return ApiLegacyAPIApiPypiLegacyCreateRequest{
		ApiService: a,
		ctx: ctx,
		path: path,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PackageUploadTaskResponse
func (a *ApiLegacyAPIService) ApiPypiLegacyCreateExecute(r ApiLegacyAPIApiPypiLegacyCreateRequest) (*PackageUploadTaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PackageUploadTaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiLegacyAPIService.ApiPypiLegacyCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pypi/{pulp_domain}/{path}/legacy/"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.content == nil {
		return localVarReturnValue, nil, reportError("content is required and must be specified")
	}
	if r.sha256Digest == nil {
		return localVarReturnValue, nil, reportError("sha256Digest is required and must be specified")
	}
	if strlen(*r.sha256Digest) < 64 {
		return localVarReturnValue, nil, reportError("sha256Digest must have at least 64 elements")
	}
	if strlen(*r.sha256Digest) > 64 {
		return localVarReturnValue, nil, reportError("sha256Digest must have less than 64 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	var contentLocalVarFormFileName string
	var contentLocalVarFileName     string
	var contentLocalVarFileBytes    []byte

	contentLocalVarFormFileName = "content"


	contentLocalVarFile := r.content

	if contentLocalVarFile != nil {
		fbs, _ := io.ReadAll(contentLocalVarFile)

		contentLocalVarFileBytes = fbs
		contentLocalVarFileName = contentLocalVarFile.Name()
		contentLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: contentLocalVarFileBytes, fileName: contentLocalVarFileName, formFileName: contentLocalVarFormFileName})
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "action", r.action, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "sha256_digest", r.sha256Digest, "", "")
	if r.protocolVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "protocol_version", r.protocolVersion, "", "")
	}
	if r.filetype != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "filetype", r.filetype, "", "")
	}
	if r.metadataVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "metadata_version", r.metadataVersion, "", "")
	}
	if r.attestations != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "attestations", r.attestations, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
