/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// RemotesPullThroughAPIService RemotesPullThroughAPI service
type RemotesPullThroughAPIService service

type RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest) NestedRole(nestedRole NestedRole) RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughAddRoleExecute(r)
}

/*
RemotesContainerPullThroughAddRole Add a role

Add a role for this object to users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughAddRole(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughAddRoleExecute(r RemotesPullThroughAPIRemotesContainerPullThroughAddRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughAddRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}add_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	pulpDomain string
	containerContainerPullThroughRemote *ContainerContainerPullThroughRemote
	xTaskDiagnostics *[]string
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest) ContainerContainerPullThroughRemote(containerContainerPullThroughRemote ContainerContainerPullThroughRemote) RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest {
	r.containerContainerPullThroughRemote = &containerContainerPullThroughRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest) Execute() (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughCreateExecute(r)
}

/*
RemotesContainerPullThroughCreate Create a container pull through remote

A Container Remote referencing a remote registry used as a source for the pull-through caching.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughCreate(ctx context.Context, pulpDomain string) RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return ContainerContainerPullThroughRemoteResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughCreateExecute(r RemotesPullThroughAPIRemotesContainerPullThroughCreateRequest) (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerContainerPullThroughRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/remotes/container/pull-through/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.containerContainerPullThroughRemote == nil {
		return localVarReturnValue, nil, reportError("containerContainerPullThroughRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.containerContainerPullThroughRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	xTaskDiagnostics *[]string
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughDeleteExecute(r)
}

/*
RemotesContainerPullThroughDelete Delete a container pull through remote

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughDelete(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughDeleteExecute(r RemotesPullThroughAPIRemotesContainerPullThroughDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughListRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIexact *string
	nameIn *[]string
	nameIregex *string
	nameIstartswith *string
	nameRegex *string
	nameStartswith *string
	offset *int32
	ordering *[]string
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	pulpLastUpdated *time.Time
	pulpLastUpdatedGt *time.Time
	pulpLastUpdatedGte *time.Time
	pulpLastUpdatedIsnull *bool
	pulpLastUpdatedLt *time.Time
	pulpLastUpdatedLte *time.Time
	pulpLastUpdatedRange *[]time.Time
	q *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) Limit(limit int32) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) Name(name string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameContains(nameContains string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameIcontains(nameIcontains string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name matches value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameIexact(nameIexact string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameIexact = &nameIexact
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameIn(nameIn []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name matches regex value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameIregex(nameIregex string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameIregex = &nameIregex
	return r
}

// Filter results where name starts with value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameIstartswith(nameIstartswith string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameIstartswith = &nameIstartswith
	return r
}

// Filter results where name matches regex value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameRegex(nameRegex string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameRegex = &nameRegex
	return r
}

// Filter results where name starts with value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) NameStartswith(nameStartswith string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) Offset(offset int32) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pulp_id&#x60; - Pulp id* &#x60;-pulp_id&#x60; - Pulp id (descending)* &#x60;pulp_created&#x60; - Pulp created* &#x60;-pulp_created&#x60; - Pulp created (descending)* &#x60;pulp_last_updated&#x60; - Pulp last updated* &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending)* &#x60;pulp_type&#x60; - Pulp type* &#x60;-pulp_type&#x60; - Pulp type (descending)* &#x60;name&#x60; - Name* &#x60;-name&#x60; - Name (descending)* &#x60;pulp_labels&#x60; - Pulp labels* &#x60;-pulp_labels&#x60; - Pulp labels (descending)* &#x60;url&#x60; - Url* &#x60;-url&#x60; - Url (descending)* &#x60;ca_cert&#x60; - Ca cert* &#x60;-ca_cert&#x60; - Ca cert (descending)* &#x60;client_cert&#x60; - Client cert* &#x60;-client_cert&#x60; - Client cert (descending)* &#x60;client_key&#x60; - Client key* &#x60;-client_key&#x60; - Client key (descending)* &#x60;tls_validation&#x60; - Tls validation* &#x60;-tls_validation&#x60; - Tls validation (descending)* &#x60;username&#x60; - Username* &#x60;-username&#x60; - Username (descending)* &#x60;password&#x60; - Password* &#x60;-password&#x60; - Password (descending)* &#x60;proxy_url&#x60; - Proxy url* &#x60;-proxy_url&#x60; - Proxy url (descending)* &#x60;proxy_username&#x60; - Proxy username* &#x60;-proxy_username&#x60; - Proxy username (descending)* &#x60;proxy_password&#x60; - Proxy password* &#x60;-proxy_password&#x60; - Proxy password (descending)* &#x60;download_concurrency&#x60; - Download concurrency* &#x60;-download_concurrency&#x60; - Download concurrency (descending)* &#x60;max_retries&#x60; - Max retries* &#x60;-max_retries&#x60; - Max retries (descending)* &#x60;policy&#x60; - Policy* &#x60;-policy&#x60; - Policy (descending)* &#x60;total_timeout&#x60; - Total timeout* &#x60;-total_timeout&#x60; - Total timeout (descending)* &#x60;connect_timeout&#x60; - Connect timeout* &#x60;-connect_timeout&#x60; - Connect timeout (descending)* &#x60;sock_connect_timeout&#x60; - Sock connect timeout* &#x60;-sock_connect_timeout&#x60; - Sock connect timeout (descending)* &#x60;sock_read_timeout&#x60; - Sock read timeout* &#x60;-sock_read_timeout&#x60; - Sock read timeout (descending)* &#x60;headers&#x60; - Headers* &#x60;-headers&#x60; - Headers (descending)* &#x60;rate_limit&#x60; - Rate limit* &#x60;-rate_limit&#x60; - Rate limit (descending)* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) Ordering(ordering []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PrnIn(prnIn []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpHrefIn(pulpHrefIn []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpIdIn(pulpIdIn []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLabelSelect(pulpLabelSelect string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results where pulp_last_updated matches value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLastUpdated(pulpLastUpdated time.Time) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLastUpdated = &pulpLastUpdated
	return r
}

// Filter results where pulp_last_updated is greater than value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLastUpdatedGt(pulpLastUpdatedGt time.Time) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLastUpdatedGt = &pulpLastUpdatedGt
	return r
}

// Filter results where pulp_last_updated is greater than or equal to value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLastUpdatedGte(pulpLastUpdatedGte time.Time) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLastUpdatedGte = &pulpLastUpdatedGte
	return r
}

// Filter results where pulp_last_updated has a null value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLastUpdatedIsnull(pulpLastUpdatedIsnull bool) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLastUpdatedIsnull = &pulpLastUpdatedIsnull
	return r
}

// Filter results where pulp_last_updated is less than value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLastUpdatedLt(pulpLastUpdatedLt time.Time) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLastUpdatedLt = &pulpLastUpdatedLt
	return r
}

// Filter results where pulp_last_updated is less than or equal to value
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLastUpdatedLte(pulpLastUpdatedLte time.Time) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLastUpdatedLte = &pulpLastUpdatedLte
	return r
}

// Filter results where pulp_last_updated is between two comma separated values
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) PulpLastUpdatedRange(pulpLastUpdatedRange []time.Time) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.pulpLastUpdatedRange = &pulpLastUpdatedRange
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) Q(q string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.q = &q
	return r
}

// A list of fields to include in the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) Fields(fields []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) ExcludeFields(excludeFields []string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) Execute() (*PaginatedcontainerContainerPullThroughRemoteResponseList, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughListExecute(r)
}

/*
RemotesContainerPullThroughList List container pull through remotes

A Container Remote referencing a remote registry used as a source for the pull-through caching.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return RemotesPullThroughAPIRemotesContainerPullThroughListRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughList(ctx context.Context, pulpDomain string) RemotesPullThroughAPIRemotesContainerPullThroughListRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedcontainerContainerPullThroughRemoteResponseList
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughListExecute(r RemotesPullThroughAPIRemotesContainerPullThroughListRequest) (*PaginatedcontainerContainerPullThroughRemoteResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedcontainerContainerPullThroughRemoteResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/remotes/container/pull-through/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "form", "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "form", "")
	}
	if r.nameIexact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iexact", r.nameIexact, "form", "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "form", "csv")
	}
	if r.nameIregex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__iregex", r.nameIregex, "form", "")
	}
	if r.nameIstartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__istartswith", r.nameIstartswith, "form", "")
	}
	if r.nameRegex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__regex", r.nameRegex, "form", "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.pulpLastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated", r.pulpLastUpdated, "form", "")
	}
	if r.pulpLastUpdatedGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gt", r.pulpLastUpdatedGt, "form", "")
	}
	if r.pulpLastUpdatedGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gte", r.pulpLastUpdatedGte, "form", "")
	}
	if r.pulpLastUpdatedIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__isnull", r.pulpLastUpdatedIsnull, "form", "")
	}
	if r.pulpLastUpdatedLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lt", r.pulpLastUpdatedLt, "form", "")
	}
	if r.pulpLastUpdatedLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lte", r.pulpLastUpdatedLte, "form", "")
	}
	if r.pulpLastUpdatedRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__range", r.pulpLastUpdatedRange, "form", "csv")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest) Fields(fields []string) RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest) ExcludeFields(excludeFields []string) RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest) Execute() (*ObjectRolesResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughListRolesExecute(r)
}

/*
RemotesContainerPullThroughListRoles List roles

List roles assigned to this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughListRoles(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return ObjectRolesResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughListRolesExecute(r RemotesPullThroughAPIRemotesContainerPullThroughListRolesRequest) (*ObjectRolesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ObjectRolesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughListRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}list_roles/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest) Fields(fields []string) RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest) ExcludeFields(excludeFields []string) RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest) Execute() (*MyPermissionsResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughMyPermissionsExecute(r)
}

/*
RemotesContainerPullThroughMyPermissions List user permissions

List permissions available to the current user on this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughMyPermissions(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return MyPermissionsResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughMyPermissionsExecute(r RemotesPullThroughAPIRemotesContainerPullThroughMyPermissionsRequest) (*MyPermissionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MyPermissionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughMyPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}my_permissions/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	patchedcontainerContainerPullThroughRemote *PatchedcontainerContainerPullThroughRemote
	xTaskDiagnostics *[]string
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest) PatchedcontainerContainerPullThroughRemote(patchedcontainerContainerPullThroughRemote PatchedcontainerContainerPullThroughRemote) RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest {
	r.patchedcontainerContainerPullThroughRemote = &patchedcontainerContainerPullThroughRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest) Execute() (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughPartialUpdateExecute(r)
}

/*
RemotesContainerPullThroughPartialUpdate Update a container pull through remote

Update the entity partially and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughPartialUpdate(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return ContainerContainerPullThroughRemoteResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughPartialUpdateExecute(r RemotesPullThroughAPIRemotesContainerPullThroughPartialUpdateRequest) (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerContainerPullThroughRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedcontainerContainerPullThroughRemote == nil {
		return localVarReturnValue, nil, reportError("patchedcontainerContainerPullThroughRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.patchedcontainerContainerPullThroughRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughReadRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughReadRequest) Fields(fields []string) RemotesPullThroughAPIRemotesContainerPullThroughReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesPullThroughAPIRemotesContainerPullThroughReadRequest) ExcludeFields(excludeFields []string) RemotesPullThroughAPIRemotesContainerPullThroughReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughReadRequest) Execute() (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughReadExecute(r)
}

/*
RemotesContainerPullThroughRead Inspect a container pull through remote

A Container Remote referencing a remote registry used as a source for the pull-through caching.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughReadRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughRead(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughReadRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughReadRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return ContainerContainerPullThroughRemoteResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughReadExecute(r RemotesPullThroughAPIRemotesContainerPullThroughReadRequest) (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerContainerPullThroughRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	nestedRole *NestedRole
	xTaskDiagnostics *[]string
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest) NestedRole(nestedRole NestedRole) RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughRemoveRoleExecute(r)
}

/*
RemotesContainerPullThroughRemoveRole Remove a role

Remove a role for this object from users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughRemoveRole(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughRemoveRoleExecute(r RemotesPullThroughAPIRemotesContainerPullThroughRemoveRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughRemoveRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}remove_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest) SetLabel(setLabel SetLabel) RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughSetLabelExecute(r)
}

/*
RemotesContainerPullThroughSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughSetLabel(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughSetLabelExecute(r RemotesPullThroughAPIRemotesContainerPullThroughSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughUnsetLabelExecute(r)
}

/*
RemotesContainerPullThroughUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughUnsetLabel(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughUnsetLabelExecute(r RemotesPullThroughAPIRemotesContainerPullThroughUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesPullThroughAPIService
	containerContainerPullThroughRemoteHref string
	containerContainerPullThroughRemote *ContainerContainerPullThroughRemote
	xTaskDiagnostics *[]string
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest) ContainerContainerPullThroughRemote(containerContainerPullThroughRemote ContainerContainerPullThroughRemote) RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest {
	r.containerContainerPullThroughRemote = &containerContainerPullThroughRemote
	return r
}

// List of profilers to use on tasks.
func (r RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest) XTaskDiagnostics(xTaskDiagnostics []string) RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest) Execute() (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesContainerPullThroughUpdateExecute(r)
}

/*
RemotesContainerPullThroughUpdate Update a container pull through remote

Update the entity and trigger an asynchronous task if necessary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerPullThroughRemoteHref
 @return RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest
*/
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughUpdate(ctx context.Context, containerContainerPullThroughRemoteHref string) RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest {
	return RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerPullThroughRemoteHref: containerContainerPullThroughRemoteHref,
	}
}

// Execute executes the request
//  @return ContainerContainerPullThroughRemoteResponse
func (a *RemotesPullThroughAPIService) RemotesContainerPullThroughUpdateExecute(r RemotesPullThroughAPIRemotesContainerPullThroughUpdateRequest) (*ContainerContainerPullThroughRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerContainerPullThroughRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesPullThroughAPIService.RemotesContainerPullThroughUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_pull_through_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_pull_through_remote_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerPullThroughRemoteHref, "containerContainerPullThroughRemoteHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.containerContainerPullThroughRemote == nil {
		return localVarReturnValue, nil, reportError("containerContainerPullThroughRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.containerContainerPullThroughRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
