/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentRepoMetadataFilesAPIService ContentRepoMetadataFilesAPI service
type ContentRepoMetadataFilesAPIService service

type ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest struct {
	ctx context.Context
	ApiService *ContentRepoMetadataFilesAPIService
	pulpDomain string
	xTaskDiagnostics *[]string
	limit *int32
	offset *int32
	ordering *[]string
	orphanedFor *float32
	prnIn *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	q *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// Number of results to return per page.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) Limit(limit int32) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) Offset(offset int32) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.offset = &offset
	return r
}

// Ordering* &#x60;pk&#x60; - Pk* &#x60;-pk&#x60; - Pk (descending)
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) Ordering(ordering []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.ordering = &ordering
	return r
}

// Minutes Content has been orphaned for. -1 uses ORPHAN_PROTECTION_TIME.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) OrphanedFor(orphanedFor float32) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.orphanedFor = &orphanedFor
	return r
}

// Multiple values may be separated by commas.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) PrnIn(prnIn []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.prnIn = &prnIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) PulpHrefIn(pulpHrefIn []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) PulpIdIn(pulpIdIn []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) PulpLabelSelect(pulpLabelSelect string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results by using NOT, AND and OR operations on other filters
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) Q(q string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.q = &q
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) RepositoryVersion(repositoryVersion string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF/PRN
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) Fields(fields []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) ExcludeFields(excludeFields []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) Execute() (*PaginatedrpmRepoMetadataFileResponseList, *http.Response, error) {
	return r.ApiService.ContentRpmRepoMetadataFilesListExecute(r)
}

/*
ContentRpmRepoMetadataFilesList List repo metadata files

RepoMetadataFile Viewset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpDomain
 @return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest
*/
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesList(ctx context.Context, pulpDomain string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest {
	return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest{
		ApiService: a,
		ctx: ctx,
		pulpDomain: pulpDomain,
	}
}

// Execute executes the request
//  @return PaginatedrpmRepoMetadataFileResponseList
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesListExecute(r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesListRequest) (*PaginatedrpmRepoMetadataFileResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedrpmRepoMetadataFileResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentRepoMetadataFilesAPIService.ContentRpmRepoMetadataFilesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/pulp/{pulp_domain}/api/v3/content/rpm/repo_metadata_files/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_domain"+"}", url.PathEscape(parameterValueToString(r.pulpDomain, "pulpDomain")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "form", "csv")
	}
	if r.orphanedFor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphaned_for", r.orphanedFor, "form", "")
	}
	if r.prnIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prn__in", r.prnIn, "form", "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "form", "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "form", "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "form", "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "form", "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "form", "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest struct {
	ctx context.Context
	ApiService *ContentRepoMetadataFilesAPIService
	rpmRepoMetadataFileHref string
	xTaskDiagnostics *[]string
	fields *[]string
	excludeFields *[]string
}

// List of profilers to use on tasks.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

// A list of fields to include in the response.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest) Fields(fields []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest) ExcludeFields(excludeFields []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest) Execute() (*RpmRepoMetadataFileResponse, *http.Response, error) {
	return r.ApiService.ContentRpmRepoMetadataFilesReadExecute(r)
}

/*
ContentRpmRepoMetadataFilesRead Inspect a repo metadata file

RepoMetadataFile Viewset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rpmRepoMetadataFileHref
 @return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest
*/
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesRead(ctx context.Context, rpmRepoMetadataFileHref string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest {
	return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest{
		ApiService: a,
		ctx: ctx,
		rpmRepoMetadataFileHref: rpmRepoMetadataFileHref,
	}
}

// Execute executes the request
//  @return RpmRepoMetadataFileResponse
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesReadExecute(r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesReadRequest) (*RpmRepoMetadataFileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RpmRepoMetadataFileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentRepoMetadataFilesAPIService.ContentRpmRepoMetadataFilesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{rpm_repo_metadata_file_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"rpm_repo_metadata_file_href"+"}", url.PathEscape(parameterValueToString(r.rpmRepoMetadataFileHref, "rpmRepoMetadataFileHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "form", "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
                               parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest struct {
	ctx context.Context
	ApiService *ContentRepoMetadataFilesAPIService
	rpmRepoMetadataFileHref string
	setLabel *SetLabel
	xTaskDiagnostics *[]string
}

func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest) SetLabel(setLabel SetLabel) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest {
	r.setLabel = &setLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest) Execute() (*SetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentRpmRepoMetadataFilesSetLabelExecute(r)
}

/*
ContentRpmRepoMetadataFilesSetLabel Set a label

Set a single pulp_label on the object to a specific value or null.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rpmRepoMetadataFileHref
 @return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest
*/
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesSetLabel(ctx context.Context, rpmRepoMetadataFileHref string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest {
	return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest{
		ApiService: a,
		ctx: ctx,
		rpmRepoMetadataFileHref: rpmRepoMetadataFileHref,
	}
}

// Execute executes the request
//  @return SetLabelResponse
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesSetLabelExecute(r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesSetLabelRequest) (*SetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentRepoMetadataFilesAPIService.ContentRpmRepoMetadataFilesSetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{rpm_repo_metadata_file_href}set_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"rpm_repo_metadata_file_href"+"}", url.PathEscape(parameterValueToString(r.rpmRepoMetadataFileHref, "rpmRepoMetadataFileHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLabel == nil {
		return localVarReturnValue, nil, reportError("setLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.setLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest struct {
	ctx context.Context
	ApiService *ContentRepoMetadataFilesAPIService
	rpmRepoMetadataFileHref string
	unsetLabel *UnsetLabel
	xTaskDiagnostics *[]string
}

func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest) UnsetLabel(unsetLabel UnsetLabel) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest {
	r.unsetLabel = &unsetLabel
	return r
}

// List of profilers to use on tasks.
func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest) XTaskDiagnostics(xTaskDiagnostics []string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest {
	r.xTaskDiagnostics = &xTaskDiagnostics
	return r
}

func (r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest) Execute() (*UnsetLabelResponse, *http.Response, error) {
	return r.ApiService.ContentRpmRepoMetadataFilesUnsetLabelExecute(r)
}

/*
ContentRpmRepoMetadataFilesUnsetLabel Unset a label

Unset a single pulp_label on the object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rpmRepoMetadataFileHref
 @return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest
*/
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesUnsetLabel(ctx context.Context, rpmRepoMetadataFileHref string) ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest {
	return ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest{
		ApiService: a,
		ctx: ctx,
		rpmRepoMetadataFileHref: rpmRepoMetadataFileHref,
	}
}

// Execute executes the request
//  @return UnsetLabelResponse
func (a *ContentRepoMetadataFilesAPIService) ContentRpmRepoMetadataFilesUnsetLabelExecute(r ContentRepoMetadataFilesAPIContentRpmRepoMetadataFilesUnsetLabelRequest) (*UnsetLabelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnsetLabelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentRepoMetadataFilesAPIService.ContentRpmRepoMetadataFilesUnsetLabel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{rpm_repo_metadata_file_href}unset_label/"
	localVarPath = strings.Replace(localVarPath, "{"+"rpm_repo_metadata_file_href"+"}", url.PathEscape(parameterValueToString(r.rpmRepoMetadataFileHref, "rpmRepoMetadataFileHref")), -1)
	localVarPath, _ = url.PathUnescape(localVarPath)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unsetLabel == nil {
		return localVarReturnValue, nil, reportError("unsetLabel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xTaskDiagnostics != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Task-Diagnostics", r.xTaskDiagnostics, "simple", "csv")
	}
	// body params
	localVarPostBody = r.unsetLabel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
